openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Creators API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Creators
paths:
  /v1/creators/countries:
    get:
      tags:
      - Creators
      summary: Get Creator Countries
      operationId: get_creator_countries
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                  pattern: ^[A-Z]{2}$
                type: array
                title: Response Get Creator Countries
      security:
      - HTTPBearer: []
  /v1/creators:
    get:
      tags:
      - Creators
      summary: Get Creators
      operationId: get_creators
      security:
      - HTTPBearer: []
      parameters:
      - name: q
        in: query
        required: false
        schema:
          title: Q
          type: string
      - name: platform
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/CreatorSocialPlatform'
      - name: terms_accepted
        in: query
        required: false
        schema:
          title: Terms Accepted
          type: boolean
      - name: creator_tier_group_id
        in: query
        required: false
        schema:
          title: Creator Tier Group Id
          type: string
      - name: country
        in: query
        required: false
        schema:
          title: Country
          pattern: ^[A-Z]{2}$
          type: string
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The number of objects to skip
          type: integer
        description: The number of objects to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_list_aghanim.creator.schemas.CreatorRead__'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Creators
      summary: Create Creator
      operationId: create_creator
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Create
              $ref: '#/components/schemas/CreatorCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/creators/{creator_id}:
    get:
      tags:
      - Creators
      summary: Get Creator
      operationId: get_creator
      security:
      - HTTPBearer: []
      parameters:
      - name: creator_id
        in: path
        required: true
        schema:
          title: Creator Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Creators
      summary: Update Creator
      operationId: update_creator
      security:
      - HTTPBearer: []
      parameters:
      - name: creator_id
        in: path
        required: true
        schema:
          title: Creator Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Update
              $ref: '#/components/schemas/CreatorUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Creators
      summary: Delete Creator
      operationId: delete_creator
      security:
      - HTTPBearer: []
      parameters:
      - name: creator_id
        in: path
        required: true
        schema:
          title: Creator Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/creators/{creator_id}/social-accounts:
    get:
      tags:
      - Creators
      summary: Get Creator Social Accounts
      operationId: get_creator_social_accounts
      security:
      - HTTPBearer: []
      parameters:
      - name: creator_id
        in: path
        required: true
        schema:
          title: Creator Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreatorSocialAccountRead'
                title: Response Get Creator Social Accounts
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    UnitedStates:
      type: string
      enum:
      - US-AL
      - US-MS
      - US-NE
      - US-PR
      title: UnitedStates
      description: An enumeration.
    CreatorTermsRead:
      properties:
        id:
          type: string
          title: Id
        accepted_at:
          type: integer
          title: Accepted At
        date_of_birth:
          type: string
          format: date
          title: Date Of Birth
        country:
          type: string
          pattern: ^[A-Z]{2}$
          title: Country
        state:
          $ref: '#/components/schemas/UnitedStates'
        age:
          type: integer
          title: Age
      type: object
      required:
      - id
      - accepted_at
      title: CreatorTermsRead
    CreatorSocialAccountRead:
      properties:
        platform:
          $ref: '#/components/schemas/CreatorSocialPlatform'
        handle:
          type: string
          title: Handle
        sync_status:
          $ref: '#/components/schemas/SyncStatus'
        synced_at:
          title: Synced At
          type: number
        channel:
          $ref: '#/components/schemas/SocialChannelRead'
        content:
          items:
            $ref: '#/components/schemas/SocialContentItemRead'
          type: array
          title: Content
        performance:
          items:
            $ref: '#/components/schemas/SocialPerformanceSnapshotRead'
          type: array
          title: Performance
      type: object
      required:
      - platform
      - handle
      - sync_status
      - synced_at
      - channel
      - content
      - performance
      title: CreatorSocialAccountRead
    SocialContentItemRead:
      properties:
        url:
          type: string
          title: Url
        title:
          title: Title
          type: string
        thumbnail_url:
          title: Thumbnail Url
          type: string
        published_at:
          type: string
          format: date-time
          title: Published At
        views:
          title: Views
          type: integer
        likes:
          title: Likes
          type: integer
        comments:
          title: Comments
          type: integer
      type: object
      required:
      - url
      - title
      - thumbnail_url
      - published_at
      - views
      - likes
      - comments
      title: SocialContentItemRead
    SocialPerformanceSnapshotRead:
      properties:
        content_url:
          type: string
          title: Content Url
        title:
          title: Title
          type: string
        thumbnail_url:
          title: Thumbnail Url
          type: string
        published_at:
          type: string
          format: date-time
          title: Published At
        taken_at:
          type: string
          format: date-time
          title: Taken At
        window_days:
          type: integer
          title: Window Days
        metrics:
          $ref: '#/components/schemas/SocialPerformanceMetricsRead'
      type: object
      required:
      - content_url
      - title
      - thumbnail_url
      - published_at
      - taken_at
      - window_days
      - metrics
      title: SocialPerformanceSnapshotRead
    SocialPerformanceMetricsRead:
      properties:
        views:
          title: Views
          type: integer
        likes:
          title: Likes
          type: integer
        comments:
          title: Comments
          type: integer
      type: object
      required:
      - views
      - likes
      - comments
      title: SocialPerformanceMetricsRead
    CreatorUpdate:
      properties:
        name:
          type: string
          title: Name
        email:
          type: string
          title: Email
        avatar_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Avatar Url
        extra_terms_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Extra Terms Url
        extra_terms_text:
          type: string
          title: Extra Terms Text
        social_medias:
          items:
            $ref: '#/components/schemas/CreatorSocial'
          type: array
          title: Social Medias
        creator_tier_group_id:
          type: string
          title: Creator Tier Group Id
          description: New tier group to assign the creator to.
        revenue_share_override_enabled:
          type: boolean
          title: Revenue Share Override Enabled
          description: When true, the creator's revenue share is fixed at `revenue_share_override_bps` and ignores tier rates.
        revenue_share_override_bps:
          type: integer
          maximum: 10000.0
          minimum: 0.0
          title: Revenue Share Override Bps
          description: Override revenue share in basis points; required when enabling the override.
      type: object
      title: CreatorUpdate
    CreatorSocial:
      properties:
        url:
          type: string
          title: Url
        platform:
          $ref: '#/components/schemas/CreatorSocialPlatform'
      type: object
      required:
      - url
      title: CreatorSocial
    SocialChannelRead:
      properties:
        followers:
          title: Followers
          type: integer
        total_views:
          title: Total Views
          type: integer
        total_content_count:
          title: Total Content Count
          type: integer
      type: object
      required:
      - followers
      - total_views
      - total_content_count
      title: SocialChannelRead
    CreatorSocialPlatform:
      type: string
      enum:
      - tiktok
      - youtube
      - instagram
      - threads
      - x_twitter
      - facebook
      - reddit
      - twitch
      - other
      title: CreatorSocialPlatform
    SyncStatus:
      type: string
      enum:
      - pending
      - ok
      - error
      title: SyncStatus
    CreatorRead:
      properties:
        name:
          type: string
          title: Name
        email:
          type: string
          title: Email
        avatar_url:
          type: string
          title: Avatar Url
        extra_terms_url:
          type: string
          title: Extra Terms Url
        extra_terms_text:
          type: string
          title: Extra Terms Text
        social_medias:
          items:
            $ref: '#/components/schemas/CreatorSocial'
          type: array
          title: Social Medias
        id:
          type: string
          title: Id
        coupon_count:
          type: integer
          title: Coupon Count
          default: 0
        revenue:
          type: integer
          title: Revenue
          default: 0
        balance:
          type: integer
          title: Balance
          default: 0
        terms:
          $ref: '#/components/schemas/CreatorTermsRead'
        creator_tier_group_id:
          type: string
          title: Creator Tier Group Id
          description: Identifier of the tier group the creator is assigned to, if any.
        current_creator_tier_id:
          type: string
          title: Current Creator Tier Id
          description: Identifier of the tier the creator currently qualifies for based on lifetime gross revenue.
        revenue_share_override_enabled:
          type: boolean
          title: Revenue Share Override Enabled
          description: When true, revenue_share_override_bps takes precedence over the tier's revenue_share_bps.
          default: false
        revenue_share_override_bps:
          type: integer
          title: Revenue Share Override Bps
          description: Per-creator revenue share override in basis points (0-10000).
          default: 0
        lifetime_gross_usd_cents:
          type: integer
          title: Lifetime Gross USD Cents
          description: Cumulative gross revenue attributed to the creator, in USD cents.
          default: 0
        annotation:
          title: Annotation
          description: Operator-only annotation attached to the creator (notes, internal display name).
          $ref: '#/components/schemas/CreatorAnnotation'
      type: object
      required:
      - name
      - email
      - id
      title: CreatorRead
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CreatorAnnotation:
      properties:
        note:
          type: string
          maxLength: 2000
          title: Note
        display_name:
          type: string
          maxLength: 120
          title: Display Name
      type: object
      title: CreatorAnnotation
    PaginatedResponse_list_aghanim.creator.schemas.CreatorRead__:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CreatorRead'
          type: array
          title: Data
        total:
          type: integer
          title: Total
        limit:
          type: integer
          title: Limit
        offset:
          type: integer
          title: Offset
        has_next:
          type: boolean
          description: Indicates if there are more items to fetch.
      type: object
      required:
      - data
      - total
      - limit
      - offset
      - has_next
      title: PaginatedResponse[list[aghanim.creator.schemas.CreatorRead]]
    CreatorCreate:
      properties:
        name:
          type: string
          title: Name
        email:
          type: string
          title: Email
        avatar_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Avatar Url
        extra_terms_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Extra Terms Url
        extra_terms_text:
          type: string
          title: Extra Terms Text
        social_medias:
          items:
            $ref: '#/components/schemas/CreatorSocial'
          type: array
          title: Social Medias
        creator_tier_group_id:
          type: string
          title: Creator Tier Group Id
          description: Tier group to assign the creator to on creation, if any.
        coupon_code:
          type: string
          maxLength: 20
          title: Coupon Code
          description: Override for the auto-generated promo code. If omitted, the code is derived from the creator's name.
      type: object
      required:
      - name
      - email
      title: CreatorCreate
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
