openapi: 3.2.0
info:
  title: Aghanim Server-to-Server News API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: News
paths:
  /v1/news:
    get:
      tags:
      - News
      summary: Get News List
      description: Returns a list of news posts.
      operationId: get_news_list
      security:
      - HTTPBearer: []
      parameters:
      - name: category
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/NewsCategory'
      - name: group
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/NewsGroup'
      - name: sort_field
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/NewsSortField'
      - name: sort_order
        in: query
        required: false
        schema:
          default: asc
          $ref: '#/components/schemas/SortOrder'
      - name: search_string
        in: query
        required: false
        schema:
          title: Search String
          type: string
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The number of objects to skip
          type: integer
        description: The number of objects to skip
      - name: ids
        in: query
        required: false
        schema:
          title: Ids
          description: Optional comma separated list of ids
          type: string
        description: Optional comma separated list of ids
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewsRead'
                title: Response Get News List
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - News
      summary: Create News
      description: Creates a new news post.
      operationId: create_news
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - News
      summary: Bulk Delete News
      description: Deletes multiple news.
      operationId: bulk_delete_news
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/NewsBulkDelete'
              title: Bulk Delete
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - News
      summary: Bulk Update News
      description: Updates multiple news.
      operationId: bulk_update_news
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/NewsBulkUpdate'
              title: Bulk Update
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewsRead'
                title: Response Bulk Update News
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/news/{news_id}:
    get:
      tags:
      - News
      summary: Get News Post
      description: Returns a single news post.
      operationId: get_news_post
      security:
      - HTTPBearer: []
      parameters:
      - name: news_id
        in: path
        required: true
        schema:
          title: News Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - News
      summary: Update News
      description: Updates a news post.
      operationId: update_news
      security:
      - HTTPBearer: []
      parameters:
      - name: news_id
        in: path
        required: true
        schema:
          title: News Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - News
      summary: Delete News
      description: Deletes a news post.
      operationId: delete_news
      security:
      - HTTPBearer: []
      parameters:
      - name: news_id
        in: path
        required: true
        schema:
          title: News Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    SortOrder:
      type: string
      enum:
      - asc
      - desc
      title: SortOrder
      description: An enumeration.
    NewsRead:
      properties:
        date:
          title: Date
          description: The date of the news
          type: string
          format: date
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
          description: The URL of the image for the news
        tags:
          type: string
          title: Tags
          description: The tags of the news, separated by commas
        order_id:
          type: integer
          title: Order Id
          description: The order ID of the news
          default: 0
        category:
          $ref: '#/components/schemas/NewsCategory'
          description: The category of the news
        published_at:
          title: Published At
          description: The published date of the news
          type: integer
        datetime:
          type: integer
          title: Datetime
          description: The date of the news
        render_options:
          description: The additional render options of the news
          $ref: '#/components/schemas/NewsRenderOptions'
        video_url:
          title: Video Url
          description: The URL of the video for the news
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
        is_featured:
          title: Is Featured
          description: Determines the visibility of the news in the Carousel news block
          type: boolean
        collection_id:
          title: Collection Id
          description: The collection ID this news belongs to
          type: string
          maxLength: 32
        requirements_expression:
          description: Targeting rules; the news is shown only to matching users
          $ref: '#/components/schemas/ExpressionSchema-Output'
        id:
          type: string
          maxLength: 32
          title: Id
          description: The unique identifier of the news
        slug:
          type: string
          title: Slug
          description: The slug of the news
        title:
          type: string
          title: Title
          description: The title of the news
        description:
          title: Description
          description: The description of the news
          type: string
        text:
          type: string
          title: Text
          description: The text of the news
        html:
          title: Html
          description: The html content of the news
          type: string
      type: object
      required:
      - tags
      - category
      - datetime
      - id
      - slug
      - title
      - text
      title: NewsRead
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ExpressionSchema-Input:
      properties:
        tokens:
          title: Tokens
          items:
            $ref: '#/components/schemas/TokenSchema'
          type: array
        variables:
          title: Variables
          items:
            $ref: '#/components/schemas/MathExpressionSchema-Input'
          type: array
      type: object
      title: ExpressionSchema
      description: Pydantic v2 mirror of `campaign_user.expr.Expression` for the v2 News API.
    NewsUpdate:
      properties:
        slug:
          title: Slug
          description: The slug of the news
          unique: true
          type: string
          maxLength: 100
        title:
          title: Title
          description: The title of the news
          type: string
          maxLength: 255
        description:
          title: Description
          description: The description of the news
          type: string
        text:
          title: Text
          description: The text of the news
          type: string
          maxLength: 10000
        html:
          title: Html
          description: The html content of the news
          type: string
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
          description: The URL of the image for the news
        tags:
          title: Tags
          description: The tags of the news, separated by commas
          type: string
        order_id:
          title: Order Id
          description: The order ID of the news
          default: 0
          type: integer
        category:
          description: The category of the news
          $ref: '#/components/schemas/NewsCategory'
        published_at:
          title: Published At
          description: The published date of the news
          type: integer
        datetime:
          title: Datetime
          description: The date of the news
          type: integer
        render_options:
          description: The additional render options of the news
          $ref: '#/components/schemas/NewsRenderOptions'
        video_url:
          title: Video Url
          description: The URL of the video for the news
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
        is_featured:
          title: Is Featured
          description: Determines the visibility of the news in the Carousel news block
          type: boolean
        requirements_expression:
          description: Targeting rules; the news is shown only to matching users
          $ref: '#/components/schemas/ExpressionSchema-Input'
      type: object
      title: NewsUpdate
    NewsGroup:
      type: string
      enum:
      - event
      - update
      - other
      title: NewsGroup
      description: An enumeration.
    NewsRenderOptions:
      properties:
        is_promo_store:
          title: Is Promo Store
          type: boolean
      type: object
      title: NewsRenderOptions
    TokenType:
      type: string
      enum:
      - attribute
      - custom_attribute
      - event_attribute
      - custom_event_attribute
      - operator
      - number
      - date
      - string
      - boolean
      - list
      - variable
      - virtual_currency
      title: TokenType
    MathExpressionSchema-Output:
      properties:
        tokens:
          title: Tokens
          items:
            $ref: '#/components/schemas/TokenSchema'
          type: array
        name:
          type: string
          title: Name
      type: object
      required:
      - name
      title: MathExpressionSchema
    NewsBulkUpdate:
      properties:
        slug:
          title: Slug
          description: The slug of the news
          unique: true
          type: string
          maxLength: 100
        title:
          title: Title
          description: The title of the news
          type: string
          maxLength: 255
        description:
          title: Description
          description: The description of the news
          type: string
        text:
          title: Text
          description: The text of the news
          type: string
          maxLength: 10000
        html:
          title: Html
          description: The html content of the news
          type: string
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
          description: The URL of the image for the news
        tags:
          title: Tags
          description: The tags of the news, separated by commas
          type: string
        order_id:
          title: Order Id
          description: The order ID of the news
          default: 0
          type: integer
        category:
          description: The category of the news
          $ref: '#/components/schemas/NewsCategory'
        published_at:
          title: Published At
          description: The published date of the news
          type: integer
        datetime:
          title: Datetime
          description: The date of the news
          type: integer
        render_options:
          description: The additional render options of the news
          $ref: '#/components/schemas/NewsRenderOptions'
        video_url:
          title: Video Url
          description: The URL of the video for the news
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
        is_featured:
          title: Is Featured
          description: Determines the visibility of the news in the Carousel news block
          type: boolean
        requirements_expression:
          description: Targeting rules; the news is shown only to matching users
          $ref: '#/components/schemas/ExpressionSchema-Input'
        id:
          type: string
          maxLength: 32
          title: Id
          description: The unique identifier of the news
      type: object
      required:
      - id
      title: NewsBulkUpdate
    NewsSortField:
      type: string
      enum:
      - slug
      - title
      - description
      - date
      - datetime
      - tags
      - category
      title: NewsSortField
      description: An enumeration.
    NewsCategory:
      type: string
      enum:
      - bugfix
      - company_news
      - event
      - maintenance
      - update
      title: NewsCategory
    NewsCreate:
      properties:
        date:
          title: Date
          description: The date of the news
          type: string
          format: date
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
          description: The URL of the image for the news
        tags:
          type: string
          title: Tags
          description: The tags of the news, separated by commas
        order_id:
          type: integer
          title: Order Id
          description: The order ID of the news
          default: 0
        category:
          $ref: '#/components/schemas/NewsCategory'
          description: The category of the news
        published_at:
          title: Published At
          description: The published date of the news
          type: integer
        datetime:
          type: integer
          title: Datetime
          description: The date of the news
        render_options:
          description: The additional render options of the news
          $ref: '#/components/schemas/NewsRenderOptions'
        video_url:
          title: Video Url
          description: The URL of the video for the news
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
        is_featured:
          title: Is Featured
          description: Determines the visibility of the news in the Carousel news block
          type: boolean
        collection_id:
          title: Collection Id
          description: The collection ID this news belongs to
          type: string
          maxLength: 32
        requirements_expression:
          description: Targeting rules; the news is shown only to matching users
          $ref: '#/components/schemas/ExpressionSchema-Input'
        slug:
          type: string
          maxLength: 100
          title: Slug
          description: The slug of the news
          nullable: false
          unique: true
        title:
          type: string
          maxLength: 255
          title: Title
          description: The title of the news
        description:
          type: string
          title: Description
          description: The description of the news
        text:
          type: string
          maxLength: 10000
          title: Text
          description: The text of the news
        html:
          title: Html
          description: The html content of the news
          type: string
      type: object
      required:
      - tags
      - category
      - datetime
      - slug
      - title
      - description
      - text
      title: NewsCreate
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ExpressionSchema-Output:
      properties:
        tokens:
          title: Tokens
          items:
            $ref: '#/components/schemas/TokenSchema'
          type: array
        variables:
          title: Variables
          items:
            $ref: '#/components/schemas/MathExpressionSchema-Output'
          type: array
      type: object
      title: ExpressionSchema
      description: Pydantic v2 mirror of `campaign_user.expr.Expression` for the v2 News API.
    NewsBulkDelete:
      properties:
        id:
          type: string
          maxLength: 32
          title: Id
      type: object
      required:
      - id
      title: NewsBulkDelete
    TokenSchema:
      properties:
        type:
          $ref: '#/components/schemas/TokenType'
        value:
          title: Value
      type: object
      required:
      - type
      title: TokenSchema
    MathExpressionSchema-Input:
      properties:
        tokens:
          title: Tokens
          items:
            $ref: '#/components/schemas/TokenSchema'
          type: array
        name:
          type: string
          title: Name
      type: object
      required:
      - name
      title: MathExpressionSchema
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
