openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Achievements API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Achievements
paths:
  /v1/achievements:
    get:
      tags:
      - Achievements
      summary: Get Achievements
      description: Returns a list of achievements.
      operationId: get_achievements
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The number of objects to skip
          type: integer
        description: The number of objects to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AchievementRead'
                title: Response Get Achievements
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Achievements
      summary: Create Achievement
      operationId: create_achievement
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Achievements
      summary: Bulk Update Achievement
      description: Updates multiple store items.
      operationId: bulk_update_achievement
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AchievementBulkUpdate'
              title: Bulk Update
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AchievementRead'
                title: Response Bulk Update Achievement
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/achievements/{achievement_id}:
    get:
      tags:
      - Achievements
      summary: Get Achievement
      description: Returns a single achievement.
      operationId: get_achievement
      security:
      - HTTPBearer: []
      parameters:
      - name: achievement_id
        in: path
        required: true
        schema:
          title: Achievement Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Achievements
      summary: Update Achievement
      description: Updates an achievement.
      operationId: update_achievement
      security:
      - HTTPBearer: []
      parameters:
      - name: achievement_id
        in: path
        required: true
        schema:
          title: Achievement Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Achievements
      summary: Delete Achievement
      description: Deletes an achievement.
      operationId: delete_achievement
      security:
      - HTTPBearer: []
      parameters:
      - name: achievement_id
        in: path
        required: true
        schema:
          title: Achievement Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/achievements/{achievement_type}/unlock:
    post:
      tags:
      - Achievements
      summary: Unlock Achievement
      description: Unlock an achievement for a player.
      operationId: unlock_achievement
      security:
      - HTTPBearer: []
      parameters:
      - name: achievement_type
        in: path
        required: true
        schema:
          title: Achievement Type
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Unlock
              $ref: '#/components/schemas/AchievementUnlockRequest'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    AchievementUpdate:
      properties:
        name:
          title: Name
          description: The name of the achievement
          type: string
          maxLength: 255
          minLength: 1
        description:
          title: Description
          description: The description of the achievement
          type: string
          maxLength: 512
        image_url:
          title: Image Url
          description: The URL of the image for the achievement
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
        type:
          anyOf:
          - $ref: '#/components/schemas/AchievementType'
          - type: string
          title: Type
          description: The type of the achievement
        position:
          title: Position
          description: The position of the achievement in the list
          type: integer
      type: object
      title: AchievementUpdate
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    AchievementCreate:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          description: The name of the achievement
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the achievement
        image_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Image Url
          description: The URL of the image for the achievement
        type:
          anyOf:
          - $ref: '#/components/schemas/AchievementType'
          - type: string
          title: Type
          description: The type of the achievement
        position:
          type: integer
          title: Position
          description: The position of the achievement in the list
      type: object
      required:
      - name
      - description
      - image_url
      - type
      - position
      title: AchievementCreate
    AchievementBulkUpdate:
      properties:
        name:
          title: Name
          description: The name of the achievement
          type: string
          maxLength: 255
          minLength: 1
        description:
          title: Description
          description: The description of the achievement
          type: string
          maxLength: 512
        image_url:
          title: Image Url
          description: The URL of the image for the achievement
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
        type:
          anyOf:
          - $ref: '#/components/schemas/AchievementType'
          - type: string
          title: Type
          description: The type of the achievement
        position:
          title: Position
          description: The position of the achievement in the list
          type: integer
        id:
          type: string
          maxLength: 32
          title: Id
          description: The unique identifier of the achievement
      type: object
      required:
      - id
      title: AchievementBulkUpdate
    AchievementRead:
      properties:
        name:
          type: string
          maxLength: 255
          minLength: 1
          title: Name
          description: The name of the achievement
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the achievement
        image_url:
          type: string
          maxLength: 2083
          minLength: 1
          format: uri
          title: Image Url
          description: The URL of the image for the achievement
        type:
          anyOf:
          - $ref: '#/components/schemas/AchievementType'
          - type: string
          title: Type
          description: The type of the achievement
        position:
          type: integer
          title: Position
          description: The position of the achievement in the list
        id:
          type: string
          maxLength: 32
          title: Id
          description: The unique identifier of the achievement
      type: object
      required:
      - name
      - description
      - image_url
      - type
      - position
      - id
      title: AchievementRead
    AchievementType:
      type: string
      enum:
      - first_visit
      - first_purchase
      - regular_visit
      title: AchievementType
    AchievementUnlockRequest:
      properties:
        player_id:
          type: string
          title: Player Id
          description: The unique player ID who unlocked the achievement
      type: object
      required:
      - player_id
      title: AchievementUnlockRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
