openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Locales API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Locales
paths:
  /v1/locales:
    get:
      tags:
      - Locales
      summary: Get Locales
      description: Returns a list of locales.
      operationId: get_locales
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The number of objects to skip
          type: integer
        description: The number of objects to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocaleRead'
                title: Response Get Locales
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Locales
      summary: Create Locale
      description: Creates a new locale.
      operationId: create_locale
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocaleCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocaleRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/locales/{locale_id}:
    get:
      tags:
      - Locales
      summary: Get Locale
      description: Returns a single locale.
      operationId: get_locale
      security:
      - HTTPBearer: []
      parameters:
      - name: locale_id
        in: path
        required: true
        schema:
          title: Locale Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocaleRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Locales
      summary: Update Locale
      description: Updates a locale.
      operationId: update_locale
      security:
      - HTTPBearer: []
      parameters:
      - name: locale_id
        in: path
        required: true
        schema:
          title: Locale Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocaleUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocaleRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Locales
      summary: Delete Locale
      description: Deletes a locale.
      operationId: delete_locale
      security:
      - HTTPBearer: []
      parameters:
      - name: locale_id
        in: path
        required: true
        schema:
          title: Locale Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    LocaleRead:
      properties:
        locale:
          $ref: '#/components/schemas/Locale'
        published_at:
          title: Published At
          type: integer
        id:
          type: string
          maxLength: 32
          title: Id
        stats:
          $ref: '#/components/schemas/LocaleStats'
        status:
          $ref: '#/components/schemas/LocaleStatus'
        modified_at:
          title: Modified At
          type: integer
      type: object
      required:
      - locale
      - id
      - stats
      - status
      title: LocaleRead
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    LocaleStatus:
      type: string
      enum:
      - clean
      - translating
      - synchronization
      - fuzzy
      title: LocaleStatus
    Locale:
      type: string
      enum:
      - cs
      - de
      - en
      - es
      - fr
      - fr-CA
      - hi
      - id
      - it
      - ja
      - ko
      - ms
      - nl
      - 'no'
      - pl
      - pt
      - pt-BR
      - ru
      - sv
      - th
      - tr
      - uk
      - vi
      - zh
      - zh-Hant
      title: Locale
      description: Language codes according to ISO 639-1.
    LocaleStats:
      properties:
        total:
          type: integer
          title: Total
          default: 0
        done:
          type: integer
          title: Done
          default: 0
      type: object
      title: LocaleStats
    LocaleCreate:
      properties:
        locale:
          $ref: '#/components/schemas/Locale'
        published_at:
          title: Published At
          type: integer
      type: object
      required:
      - locale
      title: LocaleCreate
    LocaleUpdate:
      properties: {}
      type: object
      title: LocaleUpdate
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
