openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Item Categories API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Item Categories
paths:
  /v1/item_categories/{item_category_id}:
    get:
      tags:
      - Item Categories
      summary: Get Item Category
      operationId: get_item_category
      security:
      - HTTPBearer: []
      parameters:
      - name: item_category_id
        in: path
        required: true
        schema:
          title: Item Category Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCategoryRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Item Categories
      summary: Update Item Category
      operationId: update_item_category
      security:
      - HTTPBearer: []
      parameters:
      - name: item_category_id
        in: path
        required: true
        schema:
          title: Item Category Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Update
              $ref: '#/components/schemas/ItemCategoryUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCategoryRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Item Categories
      summary: Delete Item Category
      operationId: delete_item_category
      security:
      - HTTPBearer: []
      parameters:
      - name: item_category_id
        in: path
        required: true
        schema:
          title: Item Category Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/item_categories:
    get:
      tags:
      - Item Categories
      summary: Get Item Categories
      operationId: get_item_categories
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The number of objects to skip
          type: integer
        description: The number of objects to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Item Categories
                type: array
                items:
                  $ref: '#/components/schemas/ItemCategoryRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - Item Categories
      summary: Bulk Update Item Categories
      description: Updates multiple categories.
      operationId: bulk_update_item_categories
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Bulk Update
              type: array
              items:
                $ref: '#/components/schemas/ItemCategoryBulkUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Bulk Update Item Categories
                type: array
                items:
                  $ref: '#/components/schemas/ItemCategoryRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Item Categories
      summary: Create Item Category
      operationId: create_item_category
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Create
              $ref: '#/components/schemas/ItemCategoryCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemCategoryRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Item Categories
      summary: Bulk Delete Item Categories
      operationId: bulk_delete_item_categories
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Bulk Delete
              type: array
              items:
                $ref: '#/components/schemas/ItemCategoryBulkDelete'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    StoreCategoryRenderType:
      type: string
      enum:
      - default
      - carousel
      title: StoreCategoryRenderType
      description: An enumeration.
    Expression:
      properties:
        tokens:
          items:
            $ref: '#/components/schemas/Token'
          type: array
          title: Tokens
        variables:
          items:
            $ref: '#/components/schemas/MathExpression'
          type: array
          title: Variables
      type: object
      title: Expression
    TokenType:
      type: string
      enum:
      - attribute
      - custom_attribute
      - event_attribute
      - custom_event_attribute
      - operator
      - number
      - date
      - string
      - boolean
      - list
      - variable
      - virtual_currency
      title: TokenType
    ItemCategoryUpdate:
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        position:
          type: integer
          title: Position
        parent_id:
          type: string
          title: Parent Id
        item_template_id:
          type: string
          title: Item Template Id
        pinned_expression:
          $ref: '#/components/schemas/Expression'
        slug:
          type: string
          title: Slug
        icon:
          type: string
          title: Icon
        image_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url
        divider_image_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Divider Image Url
        divider_position:
          $ref: '#/components/schemas/StoreCategoryDividerPosition'
        divider_type:
          $ref: '#/components/schemas/StoreCategoryDividerType'
        background_color:
          type: string
          title: Background Color
        background_image_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Background Image Url
        background_size:
          $ref: '#/components/schemas/BackgroundSize'
        render_type:
          $ref: '#/components/schemas/StoreCategoryRenderType'
        render_options:
          $ref: '#/components/schemas/StoreCategoryRenderOptions'
      type: object
      title: ItemCategoryUpdate
    ItemCategoryRead:
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        position:
          type: integer
          title: Position
        parent_id:
          type: string
          title: Parent Id
        item_template_id:
          type: string
          title: Item Template Id
        pinned_expression:
          $ref: '#/components/schemas/Expression'
        slug:
          type: string
          title: Slug
        icon:
          type: string
          title: Icon
        image_url:
          type: string
          title: Image Url
        divider_image_url:
          type: string
          title: Divider Image Url
        divider_position:
          default: top
          $ref: '#/components/schemas/StoreCategoryDividerPosition'
        divider_type:
          default: image
          $ref: '#/components/schemas/StoreCategoryDividerType'
        background_color:
          type: string
          title: Background Color
        background_image_url:
          type: string
          title: Background Image Url
        background_size:
          $ref: '#/components/schemas/BackgroundSize'
        render_type:
          $ref: '#/components/schemas/StoreCategoryRenderType'
        render_options:
          $ref: '#/components/schemas/StoreCategoryRenderOptions'
        id:
          type: string
          title: Id
      type: object
      required:
      - name
      - position
      - id
      title: ItemCategoryRead
    StoreCategoryDividerType:
      type: string
      enum:
      - image
      - mask
      title: StoreCategoryDividerType
      description: An enumeration.
    ItemCategoryCreate:
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        position:
          type: integer
          title: Position
        parent_id:
          type: string
          title: Parent Id
        item_template_id:
          type: string
          title: Item Template Id
        pinned_expression:
          $ref: '#/components/schemas/Expression'
        slug:
          type: string
          title: Slug
        icon:
          type: string
          title: Icon
        image_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url
        divider_image_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Divider Image Url
        divider_position:
          default: top
          $ref: '#/components/schemas/StoreCategoryDividerPosition'
        divider_type:
          default: image
          $ref: '#/components/schemas/StoreCategoryDividerType'
        background_color:
          type: string
          title: Background Color
        background_image_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Background Image Url
        background_size:
          $ref: '#/components/schemas/BackgroundSize'
        render_type:
          $ref: '#/components/schemas/StoreCategoryRenderType'
        render_options:
          $ref: '#/components/schemas/StoreCategoryRenderOptions'
      type: object
      required:
      - name
      - position
      title: ItemCategoryCreate
    StoreCategoryDividerPosition:
      type: string
      enum:
      - top
      - bottom
      title: StoreCategoryDividerPosition
      description: An enumeration.
    Token:
      properties:
        type:
          $ref: '#/components/schemas/TokenType'
        value:
          title: Value
      type: object
      required:
      - type
      title: Token
    CarouselDisplayType:
      type: string
      enum:
      - default
      - compact
      - alone
      title: CarouselDisplayType
      description: An enumeration.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ItemCategoryBulkDelete:
      properties:
        id:
          type: string
          title: Id
      type: object
      required:
      - id
      title: ItemCategoryBulkDelete
    MathExpression:
      properties:
        tokens:
          items:
            $ref: '#/components/schemas/Token'
          type: array
          title: Tokens
        name:
          type: string
          title: Name
      type: object
      required:
      - name
      title: MathExpression
    BackgroundSize:
      type: string
      enum:
      - contain
      - repeat
      - cover
      title: BackgroundSize
      description: An enumeration.
    StoreCategoryRenderOptions:
      properties:
        delay:
          type: integer
          title: Delay
        loop:
          type: boolean
          title: Loop
        autoplay:
          type: boolean
          title: Autoplay
        show_dots:
          type: boolean
          title: Show Dots
        display_type:
          $ref: '#/components/schemas/CarouselDisplayType'
      type: object
      title: StoreCategoryRenderOptions
    ItemCategoryBulkUpdate:
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        position:
          type: integer
          title: Position
        parent_id:
          type: string
          title: Parent Id
        item_template_id:
          type: string
          title: Item Template Id
        pinned_expression:
          $ref: '#/components/schemas/Expression'
        slug:
          type: string
          title: Slug
        icon:
          type: string
          title: Icon
        image_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url
        divider_image_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Divider Image Url
        divider_position:
          $ref: '#/components/schemas/StoreCategoryDividerPosition'
        divider_type:
          $ref: '#/components/schemas/StoreCategoryDividerType'
        background_color:
          type: string
          title: Background Color
        background_image_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Background Image Url
        background_size:
          $ref: '#/components/schemas/BackgroundSize'
        render_type:
          $ref: '#/components/schemas/StoreCategoryRenderType'
        render_options:
          $ref: '#/components/schemas/StoreCategoryRenderOptions'
        id:
          type: string
          title: Id
      type: object
      required:
      - id
      title: ItemCategoryBulkUpdate
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
