openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Price Templates API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Price Templates
paths:
  /v1/price_templates:
    get:
      tags:
      - Price Templates
      summary: Get Price Templates
      description: Returns a list of price templates.
      operationId: get_price_templates
      security:
      - HTTPBearer: []
      parameters:
      - name: q
        in: query
        required: false
        schema:
          title: Q
          type: string
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: starting_after
        in: query
        required: false
        schema:
          title: Starting After
          description: The cursor for pagination
          type: string
        description: The cursor for pagination
      - name: ending_before
        in: query
        required: false
        schema:
          title: Ending Before
          description: The cursor for pagination
          type: string
        description: The cursor for pagination
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfinitePaginatedResponse_PriceTemplateShort_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Price Templates
      summary: Create Price Template
      description: Creates a new price template.
      operationId: create_price_template
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceTemplateCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceTemplateRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/price_templates/{price_template_id}:
    get:
      tags:
      - Price Templates
      summary: Get Price Template
      description: Returns a single price template.
      operationId: get_price_template
      security:
      - HTTPBearer: []
      parameters:
      - name: price_template_id
        in: path
        required: true
        schema:
          title: Price Template Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceTemplateRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Price Templates
      summary: Update Price Template
      description: Updates a price template.
      operationId: update_price_template
      security:
      - HTTPBearer: []
      parameters:
      - name: price_template_id
        in: path
        required: true
        schema:
          title: Price Template Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceTemplateUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceTemplateRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Price Templates
      summary: Delete Price Template
      description: Deletes a price template.
      operationId: delete_price_template
      security:
      - HTTPBearer: []
      parameters:
      - name: price_template_id
        in: path
        required: true
        schema:
          title: Price Template Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TemplatePrice:
      properties:
        country:
          $ref: '#/components/schemas/Country'
        currency:
          $ref: '#/components/schemas/Currency'
        platform:
          $ref: '#/components/schemas/Platform'
        price:
          type: integer
          maximum: 1000000000000.0
          minimum: 0.0
          title: Price
        is_custom:
          type: boolean
          title: Is Custom
          description: Flag indicating whether the price is a custom value
      type: object
      required:
      - country
      - currency
      - platform
      - price
      - is_custom
      title: TemplatePrice
    PriceTemplateShort:
      properties:
        key:
          title: Key
          description: Unique key for the price template
          type: string
        name:
          type: string
          title: Name
          description: Name of the price template
        price:
          type: integer
          title: Price
          description: Price point used to derive pricing details
        category:
          $ref: '#/components/schemas/PriceCategory'
          description: Category of the price template (e.g., none or platform)
        id:
          type: string
          maxLength: 32
          title: Id
          description: Unique identifier for the price template
        items_count:
          type: integer
          title: Items Count
          description: Number of items linked to the template
          default: 0
        created_at:
          type: integer
          title: Created At
          description: Timestamp (in epoch seconds) when the template was created
        modified_at:
          title: Modified At
          description: Timestamp (in epoch seconds) when the template was last modified
          type: integer
      type: object
      required:
      - name
      - price
      - category
      - id
      - created_at
      title: PriceTemplateShort
    PriceCategory:
      type: string
      enum:
      - none
      - platform
      title: PriceCategory
    PriceTemplateRead:
      properties:
        key:
          title: Key
          description: Unique key for the price template
          type: string
        name:
          type: string
          title: Name
          description: Name of the price template
        price:
          type: integer
          title: Price
          description: Price point used to derive pricing details
        category:
          $ref: '#/components/schemas/PriceCategory'
          description: Category of the price template (e.g., none or platform)
        id:
          type: string
          maxLength: 32
          title: Id
          description: Unique identifier for the price template
        items_count:
          type: integer
          title: Items Count
          description: Number of items linked to the template
          default: 0
        created_at:
          type: integer
          title: Created At
          description: Timestamp (in epoch seconds) when the template was created
        modified_at:
          title: Modified At
          description: Timestamp (in epoch seconds) when the template was last modified
          type: integer
        prices:
          items:
            $ref: '#/components/schemas/TemplatePrice'
          type: array
          title: Prices
          description: List of prices derived from the template
      type: object
      required:
      - name
      - price
      - category
      - id
      - created_at
      - prices
      title: PriceTemplateRead
    PriceTemplateCreate:
      properties:
        key:
          title: Key
          description: Unique key for the price template
          type: string
        name:
          type: string
          title: Name
          description: Name of the price template
        price:
          type: integer
          title: Price
          description: Price point used to derive pricing details
        category:
          $ref: '#/components/schemas/PriceCategory'
          description: Category of the price template (e.g., none or platform)
        customs:
          items:
            $ref: '#/components/schemas/Price'
          type: array
          title: Customs
          description: List of price customizations overwriting platform suggested prices
      type: object
      required:
      - name
      - price
      - category
      - customs
      title: PriceTemplateCreate
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Price:
      properties:
        country:
          $ref: '#/components/schemas/Country'
        currency:
          $ref: '#/components/schemas/Currency'
        platform:
          $ref: '#/components/schemas/Platform'
        price:
          type: integer
          maximum: 1000000000000.0
          minimum: 0.0
          title: Price
      type: object
      required:
      - country
      - currency
      - platform
      - price
      title: Price
    Currency:
      type: string
      enum:
      - USD
      - EUR
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHF
      - CLP
      - CNY
      - COP
      - CRC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - UYU
      - UZS
      - VED
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XCD
      - XCG
      - XOF
      - XPF
      - YER
      - ZAR
      - ZMW
      - ZWG
      - ZWL
      - RP
      - VC
      title: Currency
    PriceTemplateUpdate:
      properties:
        key:
          title: Key
          description: Unique key for the price template
          type: string
        name:
          title: Name
          description: Updated name of the price template
          type: string
        price:
          title: Price
          description: Updated price point
          type: integer
        category:
          description: Updated category of the price template)
          $ref: '#/components/schemas/PriceCategory'
        customs:
          title: Customs
          description: List of price customizations overwriting platform suggested prices
          items:
            $ref: '#/components/schemas/Price'
          type: array
      type: object
      title: PriceTemplateUpdate
    InfinitePaginatedResponse_PriceTemplateShort_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PriceTemplateShort'
          type: array
          title: Data
        has_more:
          type: boolean
          title: Has More
        next_cursor:
          title: Next Cursor
          type: string
      type: object
      required:
      - data
      - has_more
      title: InfinitePaginatedResponse[PriceTemplateShort]
    Country:
      type: string
      enum:
      - VA
      - MM
      - PE
      - DK
      - PY
      - SV
      - US
      - SI
      - SG
      - CZ
      - KE
      - JP
      - KR
      - NZ
      - KZ
      - AE
      - IQ
      - AU
      - CL
      - QA
      - NL
      - IN
      - GE
      - EE
      - BM
      - AT
      - VN
      - LI
      - KW
      - TC
      - BR
      - PL
      - MY
      - HK
      - MC
      - VG
      - GI
      - SE
      - EG
      - GH
      - CH
      - LK
      - SA
      - SM
      - PK
      - DE
      - TW
      - LU
      - BO
      - FM
      - CA
      - SK
      - LT
      - FR
      - KY
      - LV
      - CY
      - MX
      - RO
      - TZ
      - HU
      - PH
      - MO
      - FI
      - RS
      - EC
      - IE
      - ID
      - OM
      - BD
      - PA
      - UA
      - ZA
      - ES
      - PT
      - 'NO'
      - NG
      - TH
      - IL
      - GB
      - JO
      - IT
      - BG
      - TR
      - BH
      - CR
      - MA
      - HR
      - GR
      - KH
      - CO
      - BE
      - DZ
      - CN
      - AD
      - AL
      - BA
      - IS
      - MD
      - ME
      - MK
      - MT
      - RU
      - AR
      title: Country
    Platform:
      type: string
      enum:
      - any
      - ios
      - android
      - other
      title: Platform
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
