openapi: 3.1.0
info:
  title: Aghanim Server-to-Server Achievements Daily Rewards API
  description: "The Aghanim Server-to-Server API is designed for **backend server integrations only**. Use this API when you need to automate game hub updates from your server-side applications.\n\n\n## OpenAPI Specification\n\nYou can download the [OpenAPI](https://www.openapis.org/) specification for this API at the following link:\n[docs.aghanim.com/openapi.json](https://docs.aghanim.com/openapi.json).\n\n## Changelog\n\nSee the [S2S API Changelog](https://docs.aghanim.com/s2s-api/changelog/) for a history of changes to this API.\n\n## Authentication\n\nAghanim supports two methods of authentication: **Bearer token** and **Basic authentication**.\n\nTo authenticate, you will need your API key, which can be retrieved from\nthe Aghanim Dashboard → [**Game → Integration → API Keys**](https://dashboard.aghanim.com/go/integration/api-keys).\n\n**⚠️ Security Notice**: The S2S API key is **secret** and must be kept secure on your server. Never expose the S2S API key in client-side code, mobile apps, or any public-facing applications.\n\n### Bearer Token Authentication\n\nUse the Bearer method by including an `Authorization` header with the word `Bearer`\nfollowed by your API key. The `Authorization` header in your HTTP request should look like this: `Authorization: Bearer API_KEY`\n\n### Basic Authentication\n\nAlternatively, you can authenticate using Basic authentication. Your API key is used\nas the `username`, and the `password` should be left empty. Send an `Authorization`\nheader with the word `Basic` followed by a base64-encoded string\nin the format `API_KEY:` (note the colon at the end).\n\nThe `Authorization` header should look like this: `Authorization: Basic ZGVtbzpwQDU1dzByZA==`\n\n## Error Codes\n\nAghanim employs standard HTTP response codes to denote the success or failure of an API request.\nBelow is a table detailing error codes.\n\n| Code | Description |\n| ---- | ----------- |\n| 200  | OK          |\n| 400  | Bad request |\n| 401  | Not authenticated |\n| 403  | Not authorized |\n| 404  | Resource not found |\n| 409  | Conflict. Request conflicts with current state of resource |\n| 422  | Validation error |\n| 429  | Too many requests. Rate limit exceeded |\n| 503  | Server unavailable |\n\n### Generic error schema\n\n```json\n{\n  \"detail\": \"string\"\n}\n```\n\n### Validation error schema\n\n```json\n{\n  \"detail\": [\n    {\n      \"loc\": [\n        \"string\",\n        0\n      ],\n      \"msg\": \"string\",\n      \"type\": \"string\"\n    }\n  ]\n}\n```\n\n## Rate Limits\n\nThe Aghanim API has rate limiting in place to avoid overloading and to ensure it remains stable.\nThe allowable rate of requests is capped at 1,000 per minute for every game.\nGame developers who exceed this limit will receive a 429 error code.\n\nTo increase the rate limit, please contact us via [integration@aghanim.com](mailto:integration@aghanim.com).\n\n## Pagination\n\nIn the Aghanim API, pagination is managed through the use of the `limit` and `offset` query parameters.\nThese parameters allow to fine-tune your data retrieval requests by specifying:\n\n- `limit`: the number of records to be returned in a single request.\n- `offset`: indicates the number of records to skip from the start of the dataset.\n"
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Daily Rewards
paths:
  /v1/daily_rewards:
    get:
      tags:
      - Daily Rewards
      summary: Get Daily Rewards
      operationId: get_daily_rewards
      security:
      - HTTPBearer: []
      parameters:
      - name: q
        in: query
        required: false
        schema:
          title: Q
          type: string
      - name: type
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DailyRewardType'
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The number of objects to skip
          type: integer
        description: The number of objects to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Daily Rewards
                type: array
                items:
                  $ref: '#/components/schemas/DailyRewardRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Daily Rewards
      summary: Create Daily Reward
      operationId: create_daily_reward
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Create
              $ref: '#/components/schemas/DailyRewardCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyRewardRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/daily_rewards/{daily_reward_id}:
    get:
      tags:
      - Daily Rewards
      summary: Get Daily Reward
      operationId: get_daily_reward
      security:
      - HTTPBearer: []
      parameters:
      - name: daily_reward_id
        in: path
        required: true
        schema:
          title: Daily Reward Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyRewardRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Daily Rewards
      summary: Update Daily Reward
      operationId: update_daily_reward
      security:
      - HTTPBearer: []
      parameters:
      - name: daily_reward_id
        in: path
        required: true
        schema:
          title: Daily Reward Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Update
              $ref: '#/components/schemas/DailyRewardUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyRewardRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Daily Rewards
      summary: Delete Daily Reward
      operationId: delete_daily_reward
      security:
      - HTTPBearer: []
      parameters:
      - name: daily_reward_id
        in: path
        required: true
        schema:
          title: Daily Reward Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/daily_rewards/{daily_reward_id}/copy:
    post:
      tags:
      - Daily Rewards
      summary: Copy Daily Reward
      operationId: copy_daily_reward
      security:
      - HTTPBearer: []
      parameters:
      - name: daily_reward_id
        in: path
        required: true
        schema:
          title: Daily Reward Id
          type: string
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyRewardRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    DayRewardRead:
      properties:
        day_number:
          type: integer
          exclusiveMinimum: 0.0
          title: Day Number
        items:
          items:
            $ref: '#/components/schemas/NestedItem'
          type: array
          maxItems: 10
          minItems: 1
          title: Items
        items_read:
          items:
            $ref: '#/components/schemas/RewardItem'
          type: array
          title: Items Read
      type: object
      required:
      - day_number
      - items
      - items_read
      title: DayRewardRead
    RewardsSettingsRead:
      properties:
        daily_rewards:
          items:
            $ref: '#/components/schemas/DayRewardRead'
          type: array
          title: Daily Rewards
        extra_reward_items:
          items:
            $ref: '#/components/schemas/NestedItem'
          type: array
          title: Extra Reward Items
        claim_mode:
          default: inline
          $ref: '#/components/schemas/DailyRewardClaimMode'
        extra_reward_items_read:
          items:
            $ref: '#/components/schemas/RewardItem'
          type: array
          title: Extra Reward Items Read
      type: object
      required:
      - daily_rewards
      title: RewardsSettingsRead
    VirtualCurrencySettings:
      properties:
        rate:
          type: number
          exclusiveMinimum: 0.0
          title: Rate
          default: 1.0
        enabled_for_checkout:
          type: boolean
          title: Enabled For Checkout
          default: false
        reward_active:
          type: boolean
          title: Reward Active
          default: false
        reward_percentage:
          type: number
          minimum: 0.0
          title: Reward Percentage
          default: 0.0
        excluded_sales_channels:
          items:
            $ref: '#/components/schemas/OrderSourceType'
          type: array
        price_source:
          default: local_price
          $ref: '#/components/schemas/VCPriceSource'
        allow_non_secure_auth:
          type: boolean
          title: Allow Non Secure Auth
          default: false
      type: object
      title: VirtualCurrencySettings
    RewardItem:
      properties:
        id:
          type: string
          title: Id
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        duration:
          type: integer
          title: Duration
        quantity:
          type: integer
          title: Quantity
        is_stackable:
          type: boolean
          title: Is Stackable
        icon_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Icon Url
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
        type:
          $ref: '#/components/schemas/ItemType'
        background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Background Image Url
        properties:
          items:
            $ref: '#/components/schemas/ItemPropertyRelationRead'
          type: array
          title: Properties
        archived_at:
          type: integer
          title: Archived At
        nested_items_read:
          items:
            anyOf:
            - $ref: '#/components/schemas/PublicItemRead'
            - $ref: '#/components/schemas/PublicLootboxRead'
            - $ref: '#/components/schemas/PublicSubscriptionRead'
            - $ref: '#/components/schemas/PublicVirtualCurrencyRead'
          type: array
          title: Nested Items Read
        highlights:
          $ref: '#/components/schemas/Highlights'
      type: object
      required:
      - id
      - name
      - quantity
      - is_stackable
      - type
      - properties
      title: RewardItem
    TrialSettings:
      properties:
        model_type:
          type: string
          enum:
          - TrialSettings
          title: Model Type
          default: TrialSettings
        trial_text_mode:
          $ref: '#/components/schemas/TrialTextMode'
      type: object
      title: TrialSettings
    PeriodType:
      type: string
      enum:
      - year
      - month
      - week
      - day
      - hour
      - minute
      - second
      title: PeriodType
    ItemSource:
      type: string
      enum:
      - order
      - bonus
      - bundle
      - coupon
      - lootbox
      - free_item
      - liveops
      - daily_reward
      - loyalty_reward
      - progression_program
      - rolling_offer
      - pick_one_offer
      title: ItemSource
      description: An enumeration.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ItemRarityRead:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: Name of the item rarity
        color_background_badge:
          type: string
          title: Color Background Badge
          description: Background color of the badge with this rarity
        id:
          type: string
          title: Id
      type: object
      required:
      - name
      - id
      title: ItemRarityRead
    PitySettings:
      properties:
        steps:
          items:
            $ref: '#/components/schemas/PityStep'
          type: array
          minItems: 1
          title: Steps
        repeat_last:
          type: boolean
          title: Repeat Last
          default: true
      type: object
      required:
      - steps
      title: PitySettings
    Currency:
      type: string
      enum:
      - USD
      - EUR
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHF
      - CLP
      - CNY
      - COP
      - CRC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - UYU
      - UZS
      - VED
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XCD
      - XCG
      - XOF
      - XPF
      - YER
      - ZAR
      - ZMW
      - ZWG
      - ZWL
      - RP
      - VC
      title: Currency
    LootboxGroup:
      properties:
        id:
          type: string
          title: Id
        weight:
          type: integer
          maximum: 1000000.0
          minimum: 0.0
          title: Weight
        name:
          type: string
          title: Name
        nested_items:
          items:
            anyOf:
            - $ref: '#/components/schemas/LootboxGroup'
            - $ref: '#/components/schemas/LootboxNestedItem'
          type: array
          title: Nested Items
        model_type:
          type: string
          enum:
          - LootboxGroup
          title: Model Type
          default: LootboxGroup
      type: object
      required:
      - id
      - weight
      - name
      - nested_items
      title: LootboxGroup
    LootboxSettings:
      properties:
        groups:
          items:
            oneOf:
            - $ref: '#/components/schemas/LootboxGroup'
            - $ref: '#/components/schemas/LootboxNestedItem'
            discriminator:
              propertyName: model_type
              mapping:
                LootboxGroup: '#/components/schemas/LootboxGroup'
                LootboxNestedItem: '#/components/schemas/LootboxNestedItem'
          type: array
          title: Groups
        claim_video_url:
          type: string
          title: Claim Video Url
        claimed_video_url:
          type: string
          title: Claimed Video Url
        claim_video_url_mov:
          type: string
          title: Claim Video Url Mov
        claimed_video_url_mov:
          type: string
          title: Claimed Video Url Mov
        view_type:
          default: default
          $ref: '#/components/schemas/LootboxViewType'
        pity:
          $ref: '#/components/schemas/PitySettings'
      type: object
      required:
      - groups
      title: LootboxSettings
    Token:
      properties:
        type:
          $ref: '#/components/schemas/TokenType'
        value:
          title: Value
      type: object
      required:
      - type
      title: Token
    LootboxGroupRead:
      properties:
        id:
          type: string
          title: Id
        name:
          type: string
          title: Name
        weight:
          type: integer
          title: Weight
        nested_items:
          anyOf:
          - items:
              $ref: '#/components/schemas/LootboxGroupRead'
            type: array
          - items:
              $ref: '#/components/schemas/LootboxNestedItemRead'
            type: array
          title: Nested Items
      type: object
      required:
      - id
      - name
      - weight
      - nested_items
      title: LootboxGroupRead
    ItemType:
      type: string
      enum:
      - item
      - currency
      - bundle
      - lootbox
      - subscription
      - virtual_currency
      title: ItemType
      description: An enumeration.
    PublicSubscriptionPlan:
      properties:
        key:
          type: string
          title: Key
        name:
          type: string
          title: Name
        billing_cycle:
          $ref: '#/components/schemas/SubscriptionBillingCycle'
        renewal_type:
          $ref: '#/components/schemas/SubscriptionRenewalType'
        type:
          $ref: '#/components/schemas/SubscriptionPlanType'
        price:
          type: integer
          title: Price
        price_point:
          type: integer
          title: Price Point
        price_after_discount:
          type: integer
          title: Price After Discount
        price_after_discount_usd:
          type: integer
          title: Price After Discount USD
        price_template_id:
          type: string
          title: Price Template Id
        currency:
          $ref: '#/components/schemas/Currency'
        grace_period:
          type: integer
          title: Grace Period
        grace_mode:
          $ref: '#/components/schemas/SubscriptionGraceMode'
        trial_period:
          type: integer
          title: Trial Period
        account_lock_duration:
          type: integer
          title: Account Lock Duration
        change_payment_mode:
          type: boolean
          title: Change Payment Mode
        is_downgrade_supported:
          type: boolean
          title: Is Downgrade Supported
        is_pause_allowed:
          type: boolean
          title: Is Pause Allowed
        is_reactivation_allowed:
          type: boolean
          title: Is Reactivation Allowed
        benefits:
          items:
            type: string
          type: array
          title: Benefits
        nested_items:
          items:
            $ref: '#/components/schemas/NestedItem'
          type: array
          title: Nested Items
        nested_items_read:
          items:
            $ref: '#/components/schemas/PublicItemRead'
          type: array
          title: Nested Items Read
        discount_percent:
          type: integer
          title: Discount Percent
      type: object
      required:
      - key
      - name
      - billing_cycle
      - renewal_type
      - type
      - currency
      - is_downgrade_supported
      - is_pause_allowed
      - is_reactivation_allowed
      title: PublicSubscriptionPlan
    CTAButtonTextSettings:
      properties:
        model_type:
          type: string
          enum:
          - CTAButtonTextSettings
          title: Model Type
          default: CTAButtonTextSettings
        text:
          $ref: '#/components/schemas/CTAButtonTextType'
      type: object
      required:
      - text
      title: CTAButtonTextSettings
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PublicLootboxRead:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: The name of the item
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the item
          nullable: true
        highlights:
          title: Highlights
          description: Localized benefit descriptions shown for the item
          nullable: true
          $ref: '#/components/schemas/Highlights'
        price:
          type: integer
          title: Price
          description: The price of the item in minor [currency units](https://docs.aghanim.com/currencies/). The system will automatically adjust this to the closest available price point. If you want to set a specific price point, use `price_template_id` instead.
        price_point:
          type: integer
          maximum: 5000000.0
          exclusiveMinimum: 0.0
          title: Price Point
          description: The price point for local prices `DEPRECATED`
        price_template_id:
          type: string
          title: Price Template Id
          description: The ID of the price template
        reward_points_price:
          type: integer
          title: Reward Points Price
          description: The reward points price for local prices
        currency:
          description: The currency of the item
          $ref: '#/components/schemas/Currency'
        sku:
          type: string
          maxLength: 255
          title: SKU
          description: The SKU of the item
          unique: true
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
          description: The URL of the image for the item
        image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url Apple
          description: The Apple-specific URL of the image for the item
          deprecated: true
        icon_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Icon Url
          description: The URL of the icon for the item
        icon_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Icon Url Apple
          description: The Apple-specific URL of the icon for the item
          deprecated: true
        image_url_featured:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url Featured
          description: The URL of the image for the item in the featured card
        image_url_featured_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url Featured Apple
          description: The Apple-specific URL of the image for the item in the featured card
          deprecated: true
        background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Background Image Url
          description: The URL of the background image for the item
        background_image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Background Image Url Apple
          description: The Apple-specific URL of the background image for the item
          deprecated: true
        background_image_color:
          type: string
          title: Background Image Color
          description: The color of the background image for the item
        featured_card_background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Featured Card Background Image Url
          description: The URL of the featured card background image for the item
        featured_card_background_image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Featured Card Background Image Url Apple
          description: The Apple-specific URL of the featured card background image for the item
          deprecated: true
        type:
          description: The type of the item
          $ref: '#/components/schemas/ItemType'
        view_option:
          description: Controls the store appearance of the item
          default: default
          $ref: '#/components/schemas/ItemViewOption'
        quantity:
          type: integer
          maximum: 1e+18
          minimum: 1.0
          title: Quantity
          description: The quantity of the item
          default: 1
        is_stackable:
          type: boolean
          title: Is Stackable
          description: Whether the item is stackable
        is_currency:
          type: boolean
          title: Is Currency
          description: Whether the item is a currency.
        position:
          type: integer
          title: Position
          description: Position of the item in list
        categories:
          items:
            type: string
          type: array
          title: Categories
          description: The list of category IDs
        duration:
          type: integer
          title: Duration
          description: Item's in-game action in seconds
        enable_reward_points_redemption:
          type: boolean
          title: Enable Reward Points Redemption
          description: Allows using Reward Points on purchase
        lootbox_settings:
          title: Lootbox Settings
          description: The settings of the lootbox
          $ref: '#/components/schemas/LootboxSettings'
        id:
          type: string
          title: Id
          description: The unique identifier of the lootbox
        model_type:
          type: string
          enum:
          - PublicLootboxRead
          title: Model Type
          default: PublicLootboxRead
        groups:
          items:
            anyOf:
            - $ref: '#/components/schemas/LootboxGroupRead'
            - $ref: '#/components/schemas/LootboxNestedItemRead'
          type: array
          title: Groups
          description: Groups with nested elements that can be dropped
        attempts_count:
          type: integer
          title: Attempts Count
          description: The number of attempts to open this lootbox
          default: 0
      type: object
      required:
      - name
      - currency
      - sku
      - type
      - is_stackable
      - is_currency
      - lootbox_settings
      - id
      title: PublicLootboxRead
    DayReward:
      properties:
        day_number:
          type: integer
          exclusiveMinimum: 0.0
          title: Day Number
        items:
          items:
            $ref: '#/components/schemas/NestedItem'
          type: array
          maxItems: 10
          minItems: 1
          title: Items
      type: object
      required:
      - day_number
      - items
      title: DayReward
    Expression:
      properties:
        tokens:
          items:
            $ref: '#/components/schemas/Token'
          type: array
          title: Tokens
        variables:
          items:
            $ref: '#/components/schemas/MathExpression'
          type: array
          title: Variables
      type: object
      title: Expression
    DailyRewardClaimMode:
      type: string
      enum:
      - modal
      - inline
      title: DailyRewardClaimMode
      description: Controls the way the reward is claimed on hub.
    TrialTextMode:
      type: string
      enum:
      - start_free_trial
      - try_free_for_n_days
      title: TrialTextMode
      description: An enumeration.
    SubscriptionBillingCycle:
      properties:
        period_type:
          description: The type of billing period (year, month, week, day)
          $ref: '#/components/schemas/PeriodType'
        period_value:
          type: integer
          title: Period Value
          description: The number of periods in a billing cycle
      type: object
      required:
      - period_type
      - period_value
      title: SubscriptionBillingCycle
    LootboxNestedItemRead:
      properties:
        name:
          type: string
          title: Name
          description: The name of the item
        description:
          type: string
          title: Description
          description: The description of the item
        highlights:
          title: Highlights
          description: Localized benefit descriptions shown for the item
          nullable: true
          $ref: '#/components/schemas/Highlights'
        price:
          type: integer
          title: Price
          description: The price of the item in minor [currency units](https://docs.aghanim.com/currencies/). The system will automatically adjust this to the closest available price point. If you want to set a specific price point, use `price_template_id` instead.
        price_point:
          type: integer
          maximum: 5000000.0
          exclusiveMinimum: 0.0
          title: Price Point
          description: The price point for local prices `DEPRECATED`
        price_template_id:
          type: string
          title: Price Template Id
          description: The ID of the price template
        reward_points_price:
          type: integer
          title: Reward Points Price
          description: The reward points price for local prices
        currency:
          description: The currency of the item
          $ref: '#/components/schemas/Currency'
        sku:
          type: string
          maxLength: 255
          title: SKU
          description: The SKU of the item
          unique: true
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
          description: The URL of the image for the item
        image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url Apple
          description: The Apple-specific URL of the image for the item
          deprecated: true
        icon_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Icon Url
          description: The URL of the icon for the item
        icon_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Icon Url Apple
          description: The Apple-specific URL of the icon for the item
          deprecated: true
        image_url_featured:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url Featured
          description: The URL of the image for the item in the featured card
        image_url_featured_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url Featured Apple
          description: The Apple-specific URL of the image for the item in the featured card
          deprecated: true
        background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Background Image Url
          description: The URL of the background image for the item
        background_image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Background Image Url Apple
          description: The Apple-specific URL of the background image for the item
          deprecated: true
        background_image_color:
          type: string
          title: Background Image Color
          description: The color of the background image for the item
        featured_card_background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Featured Card Background Image Url
          description: The URL of the featured card background image for the item
        featured_card_background_image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Featured Card Background Image Url Apple
          description: The Apple-specific URL of the featured card background image for the item
          deprecated: true
        type:
          description: The type of the item
          $ref: '#/components/schemas/ItemType'
        view_option:
          description: Controls the store appearance of the item
          default: default
          $ref: '#/components/schemas/ItemViewOption'
        quantity:
          type: integer
          maximum: 1e+18
          minimum: 1.0
          title: Quantity
          description: The quantity of the item
          default: 1
        is_stackable:
          type: boolean
          title: Is Stackable
          description: Whether the item is stackable
        is_currency:
          type: boolean
          title: Is Currency
          description: Whether the item is a currency.
        position:
          type: integer
          title: Position
          description: Position of the item in list
        categories:
          items:
            type: string
          type: array
          title: Categories
          description: The list of category IDs
        duration:
          type: integer
          title: Duration
          description: Item's in-game action in seconds
        enable_reward_points_redemption:
          type: boolean
          title: Enable Reward Points Redemption
          description: Allows using Reward Points on purchase
        nested_items:
          items:
            $ref: '#/components/schemas/NestedItem'
          type: array
          title: Nested Items
          description: The child items of the bundle
        id:
          type: string
          title: Id
          description: The unique identifier of the item
        properties:
          items:
            $ref: '#/components/schemas/ItemPropertyRelationRead'
          type: array
          title: Properties
          description: The item properties
        source:
          default: order
          $ref: '#/components/schemas/ItemSource'
        rarity_id:
          type: string
          title: Rarity Id
          description: The rarity id of the item
        item_rarity:
          $ref: '#/components/schemas/ItemRarityRead'
        discount_percent:
          type: integer
          maximum: 100.0
          minimum: 0.0
          title: Discount Percent
          description: The discount percent for the item
        bonus_percent:
          type: integer
          minimum: 0.0
          title: Bonus Percent
          description: The bonus percent for the item
        is_custom:
          type: boolean
          title: Is Custom
          default: false
        created_at:
          type: number
          title: Created At
          description: The timestamp of when the item was created
        modified_at:
          type: number
          title: Modified At
          description: The timestamp of when the item was modified
        archived_at:
          type: number
          title: Archived At
          description: The timestamp of when the item was archived
        price_minor_unit:
          type: integer
          title: Price Minor Unit
        price_decimal:
          type: number
          title: Price Decimal
        fallback_item_id:
          type: string
          title: Fallback Item Id
          description: The item that will be given as fallback if the main item can't be given to the player
        fallback_item_quantity:
          type: integer
          title: Fallback Item Quantity
          description: The quantity of the fallback item
        meta:
          type: object
          title: Meta
        model_type:
          type: string
          enum:
          - PublicItemRead
          title: Model Type
          default: PublicItemRead
        nested_items_read:
          items:
            $ref: '#/components/schemas/PublicItemRead'
          type: array
          title: Nested Items Read
        fallback_item:
          $ref: '#/components/schemas/PublicItemRead'
        quantity_after_bonus:
          type: integer
          title: Quantity After Bonus
        quantity_bonus_value:
          type: integer
          title: Quantity Bonus Value
        is_system:
          type: boolean
          title: Is System
          description: If true, this item will be skipped when sending webhooks
          nullable: true
        probability:
          type: number
          title: Probability
          description: The probability of the item appearing
        weight:
          type: integer
          title: Weight
      type: object
      required:
      - name
      - currency
      - sku
      - type
      - is_stackable
      - is_currency
      - id
      - created_at
      - probability
      - weight
      title: LootboxNestedItemRead
    PityStep:
      properties:
        threshold:
          type: integer
          minimum: 1.0
          title: Threshold
        guaranteed_groups:
          items:
            anyOf:
            - $ref: '#/components/schemas/LootboxGroup'
            - $ref: '#/components/schemas/LootboxNestedItem'
          type: array
          minItems: 1
          title: Guaranteed Groups
      type: object
      required:
      - threshold
      - guaranteed_groups
      title: PityStep
    DailyRewardMode:
      type: string
      enum:
      - soft
      - hard
      title: DailyRewardMode
      description: An enumeration.
    PublicSubscriptionRead:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: The name of the item
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the item
          nullable: true
        highlights:
          title: Highlights
          description: Localized benefit descriptions shown for the item
          nullable: true
          $ref: '#/components/schemas/Highlights'
        price:
          type: integer
          title: Price
          description: The price of the item in minor [currency units](https://docs.aghanim.com/currencies/). The system will automatically adjust this to the closest available price point. If you want to set a specific price point, use `price_template_id` instead.
        price_point:
          type: integer
          maximum: 5000000.0
          exclusiveMinimum: 0.0
          title: Price Point
          description: The price point for local prices `DEPRECATED`
        price_template_id:
          type: string
          title: Price Template Id
          description: The ID of the price template
        reward_points_price:
          type: integer
          title: Reward Points Price
          description: The reward points price for local prices
        currency:
          description: The currency of the item
          $ref: '#/components/schemas/Currency'
        sku:
          type: string
          maxLength: 255
          title: SKU
          description: The SKU of the item
          unique: true
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
          description: The URL of the image for the item
        image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url Apple
          description: The Apple-specific URL of the image for the item
          deprecated: true
        icon_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Icon Url
          description: The URL of the icon for the item
        icon_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Icon Url Apple
          description: The Apple-specific URL of the icon for the item
          deprecated: true
        image_url_featured:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url Featured
          description: The URL of the image for the item in the featured card
        image_url_featured_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url Featured Apple
          description: The Apple-specific URL of the image for the item in the featured card
          deprecated: true
        background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Background Image Url
          description: The URL of the background image for the item
        background_image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Background Image Url Apple
          description: The Apple-specific URL of the background image for the item
          deprecated: true
        background_image_color:
          type: string
          title: Background Image Color
          description: The color of the background image for the item
        featured_card_background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Featured Card Background Image Url
          description: The URL of the featured card background image for the item
        featured_card_background_image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Featured Card Background Image Url Apple
          description: The Apple-specific URL of the featured card background image for the item
          deprecated: true
        type:
          description: The type of the item
          $ref: '#/components/schemas/ItemType'
        view_option:
          description: Controls the store appearance of the item
          default: default
          $ref: '#/components/schemas/ItemViewOption'
        quantity:
          type: integer
          maximum: 1e+18
          minimum: 1.0
          title: Quantity
          description: The quantity of the item
          default: 1
        is_stackable:
          type: boolean
          title: Is Stackable
          description: Whether the item is stackable
        is_currency:
          type: boolean
          title: Is Currency
          description: Whether the item is a currency.
        position:
          type: integer
          title: Position
          description: Position of the item in list
        categories:
          items:
            type: string
          type: array
          title: Categories
          description: The list of category IDs
        duration:
          type: integer
          title: Duration
          description: Item's in-game action in seconds
        enable_reward_points_redemption:
          type: boolean
          title: Enable Reward Points Redemption
          description: Allows using Reward Points on purchase
        nested_items:
          items:
            $ref: '#/components/schemas/NestedItem'
          type: array
          title: Nested Items
          description: The child items of the bundle
        meta:
          type: object
          title: Meta
        id:
          type: string
          title: Id
          description: The unique identifier of the subscription
        model_type:
          type: string
          enum:
          - PublicSubscriptionRead
          title: Model Type
          default: PublicSubscriptionRead
        subscription_settings:
          title: Subscription Settings
          description: The settings of the subscription
          $ref: '#/components/schemas/PublicSubscriptionSettings'
      type: object
      required:
      - name
      - currency
      - sku
      - type
      - is_stackable
      - is_currency
      - id
      - subscription_settings
      title: PublicSubscriptionRead
    SubscriptionCardViewType:
      type: string
      enum:
      - one_card
      - separate_cards
      title: SubscriptionCardViewType
      description: An enumeration.
    StoreItemSubscriptionSettings:
      properties:
        cta_button_type:
          $ref: '#/components/schemas/CTAButtonType'
        cta_button_settings:
          oneOf:
          - $ref: '#/components/schemas/TrialSettings'
          - $ref: '#/components/schemas/PriceViewSettings'
          - $ref: '#/components/schemas/CTAButtonTextSettings'
          title: Cta Button Settings
          discriminator:
            propertyName: model_type
            mapping:
              TrialSettings: '#/components/schemas/TrialSettings'
              PriceViewSettings: '#/components/schemas/PriceViewSettings'
              CTAButtonTextSettings: '#/components/schemas/CTAButtonTextSettings'
        override_trial_days:
          type: integer
          minimum: 1.0
          title: Override Trial Days
          nullable: true
        card_view_type:
          description: How to display subscription plans in the store
          default: one_card
          $ref: '#/components/schemas/SubscriptionCardViewType'
        supported_text:
          description: Text under the CTA button
          $ref: '#/components/schemas/CTASupportedText'
        is_change_plan_allowed:
          type: boolean
          title: Is Change Plan Allowed
          description: Whether changing the subscription plan is allowed
          default: true
      type: object
      required:
      - cta_button_type
      - cta_button_settings
      title: StoreItemSubscriptionSettings
    NestedItem:
      properties:
        id:
          type: string
          title: Id
        count:
          type: integer
          title: Count
        sku:
          type: string
          title: SKU
        is_featured:
          type: boolean
          title: Is Featured
        meta:
          type: object
          title: Meta
        image_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url
        view_type:
          $ref: '#/components/schemas/NestedItemViewType'
      type: object
      title: NestedItem
    Schedule:
      properties:
        period_type:
          $ref: '#/components/schemas/PeriodType'
        count:
          type: integer
          minimum: 1.0
          title: Count
        start_day_number:
          type: integer
          minimum: 1.0
          title: Start Day Number
      type: object
      required:
      - period_type
      - count
      - start_day_number
      title: Schedule
    LootboxNestedItem:
      properties:
        id:
          type: string
          title: Id
        weight:
          type: integer
          maximum: 1000000.0
          minimum: 0.0
          title: Weight
        count:
          type: integer
          title: Count
        sku:
          type: string
          title: SKU
        model_type:
          type: string
          enum:
          - LootboxNestedItem
          title: Model Type
          default: LootboxNestedItem
      type: object
      required:
      - id
      - weight
      - count
      - sku
      title: LootboxNestedItem
    SubscriptionRenewalType:
      type: string
      enum:
      - auto
      - no_renew
      title: SubscriptionRenewalType
      description: An enumeration.
    HighlightItem:
      properties:
        image_url:
          type: string
          title: Image Url
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
      type: object
      title: HighlightItem
    ItemViewOption:
      type: string
      enum:
      - default
      - skeleton
      title: ItemViewOption
      description: An enumeration.
    PublicSubscriptionSettings:
      properties:
        plans:
          items:
            $ref: '#/components/schemas/PublicSubscriptionPlan'
          type: array
          title: Plans
          description: The subscription plans
        store_item_settings:
          $ref: '#/components/schemas/StoreItemSubscriptionSettings'
        selected_plan_key:
          type: string
          title: Selected Plan Key
      type: object
      title: PublicSubscriptionSettings
    CTASupportedText:
      type: string
      enum:
      - default
      - price_and_trial
      - promotion
      title: CTASupportedText
      description: An enumeration.
    Highlights:
      properties:
        title:
          type: string
          title: Title
        description:
          type: string
          title: Description
        items:
          items:
            $ref: '#/components/schemas/HighlightItem'
          type: array
          title: Items
      type: object
      required:
      - items
      title: Highlights
    DailyRewardRead:
      properties:
        enabled:
          type: boolean
          title: Enabled
        key:
          type: string
          title: Key
        name:
          type: string
          maxLength: 255
          title: Name
        description:
          type: string
          maxLength: 100000
          title: Description
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
        mode:
          $ref: '#/components/schemas/DailyRewardMode'
        rewards:
          $ref: '#/components/schemas/RewardsSettingsRead'
        schedule:
          $ref: '#/components/schemas/Schedule'
        requirements_expression:
          $ref: '#/components/schemas/Expression'
        start_at:
          type: integer
          title: Start At
        end_at:
          type: integer
          title: End At
        position:
          type: integer
          title: Position
        comment:
          type: string
          title: Comment
        id:
          type: string
          title: Id
        type:
          $ref: '#/components/schemas/DailyRewardType'
        status:
          $ref: '#/components/schemas/DailyRewardStatus'
      type: object
      required:
      - enabled
      - name
      - description
      - mode
      - rewards
      - id
      - type
      - status
      title: DailyRewardRead
    ItemPropertyConfigString:
      properties:
        property_type:
          type: string
          enum:
          - string
          title: Property Type
          default: string
      type: object
      title: ItemPropertyConfigString
    ItemPropertyConfigNumber:
      properties:
        property_type:
          type: string
          enum:
          - number
          title: Property Type
          default: number
      type: object
      title: ItemPropertyConfigNumber
    PublicItemRead:
      properties:
        name:
          type: string
          title: Name
          description: The name of the item
        description:
          type: string
          title: Description
          description: The description of the item
        highlights:
          title: Highlights
          description: Localized benefit descriptions shown for the item
          nullable: true
          $ref: '#/components/schemas/Highlights'
        price:
          type: integer
          title: Price
          description: The price of the item in minor [currency units](https://docs.aghanim.com/currencies/). The system will automatically adjust this to the closest available price point. If you want to set a specific price point, use `price_template_id` instead.
        price_point:
          type: integer
          maximum: 5000000.0
          exclusiveMinimum: 0.0
          title: Price Point
          description: The price point for local prices `DEPRECATED`
        price_template_id:
          type: string
          title: Price Template Id
          description: The ID of the price template
        reward_points_price:
          type: integer
          title: Reward Points Price
          description: The reward points price for local prices
        currency:
          description: The currency of the item
          $ref: '#/components/schemas/Currency'
        sku:
          type: string
          maxLength: 255
          title: SKU
          description: The SKU of the item
          unique: true
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
          description: The URL of the image for the item
        image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url Apple
          description: The Apple-specific URL of the image for the item
          deprecated: true
        icon_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Icon Url
          description: The URL of the icon for the item
        icon_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Icon Url Apple
          description: The Apple-specific URL of the icon for the item
          deprecated: true
        image_url_featured:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url Featured
          description: The URL of the image for the item in the featured card
        image_url_featured_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url Featured Apple
          description: The Apple-specific URL of the image for the item in the featured card
          deprecated: true
        background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Background Image Url
          description: The URL of the background image for the item
        background_image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Background Image Url Apple
          description: The Apple-specific URL of the background image for the item
          deprecated: true
        background_image_color:
          type: string
          title: Background Image Color
          description: The color of the background image for the item
        featured_card_background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Featured Card Background Image Url
          description: The URL of the featured card background image for the item
        featured_card_background_image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Featured Card Background Image Url Apple
          description: The Apple-specific URL of the featured card background image for the item
          deprecated: true
        type:
          description: The type of the item
          $ref: '#/components/schemas/ItemType'
        view_option:
          description: Controls the store appearance of the item
          default: default
          $ref: '#/components/schemas/ItemViewOption'
        quantity:
          type: integer
          maximum: 1e+18
          minimum: 1.0
          title: Quantity
          description: The quantity of the item
          default: 1
        is_stackable:
          type: boolean
          title: Is Stackable
          description: Whether the item is stackable
        is_currency:
          type: boolean
          title: Is Currency
          description: Whether the item is a currency.
        position:
          type: integer
          title: Position
          description: Position of the item in list
        categories:
          items:
            type: string
          type: array
          title: Categories
          description: The list of category IDs
        duration:
          type: integer
          title: Duration
          description: Item's in-game action in seconds
        enable_reward_points_redemption:
          type: boolean
          title: Enable Reward Points Redemption
          description: Allows using Reward Points on purchase
        nested_items:
          items:
            $ref: '#/components/schemas/NestedItem'
          type: array
          title: Nested Items
          description: The child items of the bundle
        id:
          type: string
          title: Id
          description: The unique identifier of the item
        properties:
          items:
            $ref: '#/components/schemas/ItemPropertyRelationRead'
          type: array
          title: Properties
          description: The item properties
        source:
          default: order
          $ref: '#/components/schemas/ItemSource'
        rarity_id:
          type: string
          title: Rarity Id
          description: The rarity id of the item
        item_rarity:
          $ref: '#/components/schemas/ItemRarityRead'
        discount_percent:
          type: integer
          maximum: 100.0
          minimum: 0.0
          title: Discount Percent
          description: The discount percent for the item
        bonus_percent:
          type: integer
          minimum: 0.0
          title: Bonus Percent
          description: The bonus percent for the item
        is_custom:
          type: boolean
          title: Is Custom
          default: false
        created_at:
          type: number
          title: Created At
          description: The timestamp of when the item was created
        modified_at:
          type: number
          title: Modified At
          description: The timestamp of when the item was modified
        archived_at:
          type: number
          title: Archived At
          description: The timestamp of when the item was archived
        price_minor_unit:
          type: integer
          title: Price Minor Unit
        price_decimal:
          type: number
          title: Price Decimal
        fallback_item_id:
          type: string
          title: Fallback Item Id
          description: The item that will be given as fallback if the main item can't be given to the player
        fallback_item_quantity:
          type: integer
          title: Fallback Item Quantity
          description: The quantity of the fallback item
        meta:
          type: object
          title: Meta
        model_type:
          type: string
          enum:
          - PublicItemRead
          title: Model Type
          default: PublicItemRead
        nested_items_read:
          items:
            $ref: '#/components/schemas/PublicItemRead'
          type: array
          title: Nested Items Read
        fallback_item:
          $ref: '#/components/schemas/PublicItemRead'
        quantity_after_bonus:
          type: integer
          title: Quantity After Bonus
        quantity_bonus_value:
          type: integer
          title: Quantity Bonus Value
        is_system:
          type: boolean
          title: Is System
          description: If true, this item will be skipped when sending webhooks
          nullable: true
      type: object
      required:
      - name
      - currency
      - sku
      - type
      - is_stackable
      - is_currency
      - id
      - created_at
      title: PublicItemRead
    PriceViewSettings:
      properties:
        model_type:
          type: string
          enum:
          - PriceViewSettings
          title: Model Type
          default: PriceViewSettings
        price_mode:
          $ref: '#/components/schemas/PriceViewMode'
        plan_key:
          type: string
          title: Plan Key
        show_period:
          type: boolean
          title: Show Period
      type: object
      required:
      - show_period
      title: PriceViewSettings
    DailyRewardUpdate:
      properties:
        enabled:
          type: boolean
          title: Enabled
        key:
          type: string
          title: Key
        name:
          type: string
          maxLength: 255
          title: Name
        description:
          type: string
          maxLength: 100000
          title: Description
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
        mode:
          $ref: '#/components/schemas/DailyRewardMode'
        rewards:
          $ref: '#/components/schemas/RewardsSettings'
        requirements_expression:
          $ref: '#/components/schemas/Expression'
        start_at:
          type: integer
          title: Start At
        end_at:
          type: integer
          title: End At
        position:
          type: integer
          title: Position
        schedule:
          $ref: '#/components/schemas/Schedule'
        comment:
          type: string
          title: Comment
      type: object
      title: DailyRewardUpdate
    PriceViewMode:
      type: string
      enum:
      - from_lowest_price
      - specific_plan
      title: PriceViewMode
      description: An enumeration.
    MathExpression:
      properties:
        tokens:
          items:
            $ref: '#/components/schemas/Token'
          type: array
          title: Tokens
        name:
          type: string
          title: Name
      type: object
      required:
      - name
      title: MathExpression
    SubscriptionPlanType:
      type: string
      enum:
      - default
      - special
      title: SubscriptionPlanType
      description: An enumeration.
    CTAButtonType:
      type: string
      enum:
      - text
      - price
      - trial
      title: CTAButtonType
      description: An enumeration.
    OrderSourceType:
      type: string
      enum:
      - s2s
      - hub
      - sdk
      - checkout_link
      title: OrderSourceType
      description: An enumeration.
    ItemPropertyConfigRange:
      properties:
        property_type:
          type: string
          enum:
          - range
          title: Property Type
          default: range
        max:
          type: integer
          title: Max
        min:
          type: integer
          title: Min
          default: 0
      type: object
      required:
      - max
      title: ItemPropertyConfigRange
    DailyRewardStatus:
      type: string
      enum:
      - active
      - paused
      - stopped
      - scheduled
      - completed
      title: DailyRewardStatus
      description: An enumeration.
    ItemPropertyRelationRead:
      properties:
        property_id:
          type: string
          title: Property Id
        data:
          $ref: '#/components/schemas/ItemPropertyRelationData'
        position:
          type: integer
          title: Position
        id:
          type: string
          title: Id
        item_id:
          type: string
          title: Item Id
        item_property:
          $ref: '#/components/schemas/ItemPropertyRead'
      type: object
      required:
      - property_id
      - position
      - id
      - item_id
      - item_property
      title: ItemPropertyRelationRead
    NestedItemViewType:
      type: string
      enum:
      - separated
      title: NestedItemViewType
      description: An enumeration.
    SubscriptionGraceMode:
      type: string
      enum:
      - free_to_paid
      - paid_to_paid
      title: SubscriptionGraceMode
      description: An enumeration.
    CTAButtonTextType:
      type: string
      enum:
      - activate
      - subscribe
      - start_now
      - select_plan
      title: CTAButtonTextType
      description: An enumeration.
    PublicVirtualCurrencyRead:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: The name of the item
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the item
          nullable: true
        highlights:
          title: Highlights
          description: Localized benefit descriptions shown for the item
          nullable: true
          $ref: '#/components/schemas/Highlights'
        price:
          type: integer
          title: Price
          description: The price of the item in minor [currency units](https://docs.aghanim.com/currencies/). The system will automatically adjust this to the closest available price point. If you want to set a specific price point, use `price_template_id` instead.
        price_point:
          type: integer
          maximum: 5000000.0
          exclusiveMinimum: 0.0
          title: Price Point
          description: The price point for local prices `DEPRECATED`
        price_template_id:
          type: string
          title: Price Template Id
          description: The ID of the price template
        reward_points_price:
          type: integer
          title: Reward Points Price
          description: The reward points price for local prices
        currency:
          description: The currency of the item
          $ref: '#/components/schemas/Currency'
        sku:
          type: string
          maxLength: 255
          title: SKU
          description: The SKU of the item
          unique: true
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
          description: The URL of the image for the item
        image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url Apple
          description: The Apple-specific URL of the image for the item
          deprecated: true
        icon_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Icon Url
          description: The URL of the icon for the item
        icon_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Icon Url Apple
          description: The Apple-specific URL of the icon for the item
          deprecated: true
        image_url_featured:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url Featured
          description: The URL of the image for the item in the featured card
        image_url_featured_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Image Url Featured Apple
          description: The Apple-specific URL of the image for the item in the featured card
          deprecated: true
        background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Background Image Url
          description: The URL of the background image for the item
        background_image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Background Image Url Apple
          description: The Apple-specific URL of the background image for the item
          deprecated: true
        background_image_color:
          type: string
          title: Background Image Color
          description: The color of the background image for the item
        featured_card_background_image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Featured Card Background Image Url
          description: The URL of the featured card background image for the item
        featured_card_background_image_url_apple:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Featured Card Background Image Url Apple
          description: The Apple-specific URL of the featured card background image for the item
          deprecated: true
        type:
          description: The type of the item
          $ref: '#/components/schemas/ItemType'
        view_option:
          description: Controls the store appearance of the item
          default: default
          $ref: '#/components/schemas/ItemViewOption'
        quantity:
          type: integer
          maximum: 1e+18
          minimum: 1.0
          title: Quantity
          description: The quantity of the item
          default: 1
        is_stackable:
          type: boolean
          title: Is Stackable
          description: Whether the item is stackable
        is_currency:
          type: boolean
          title: Is Currency
          description: Whether the item is a currency.
        position:
          type: integer
          title: Position
          description: Position of the item in list
        categories:
          items:
            type: string
          type: array
          title: Categories
          description: The list of category IDs
        duration:
          type: integer
          title: Duration
          description: Item's in-game action in seconds
        enable_reward_points_redemption:
          type: boolean
          title: Enable Reward Points Redemption
          description: Allows using Reward Points on purchase
        vc_settings:
          title: Vc Settings
          description: The settings of the virtual currency
          $ref: '#/components/schemas/VirtualCurrencySettings'
        start_at:
          type: integer
          title: Start At
          description: The timestamp of when the virtual currency becomes active
        end_at:
          type: integer
          title: End At
          description: The timestamp of when the virtual currency expires
        id:
          type: string
          title: Id
          description: The unique identifier of the virtual currency
        model_type:
          type: string
          enum:
          - PublicVirtualCurrencyRead
          title: Model Type
          default: PublicVirtualCurrencyRead
        archived_at:
          type: number
          title: Archived At
          description: The timestamp of when the virtual currency was archived
      type: object
      required:
      - name
      - currency
      - sku
      - type
      - is_stackable
      - is_currency
      - vc_settings
      - id
      title: PublicVirtualCurrencyRead
    ItemPropertyRead:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: The name of the property
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the property
        icon_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Icon Url
          description: The URL of the icon for the property
        config:
          oneOf:
          - $ref: '#/components/schemas/ItemPropertyConfigRange'
          - $ref: '#/components/schemas/ItemPropertyConfigNumber'
          - $ref: '#/components/schemas/ItemPropertyConfigString'
          title: Config
          description: The config of the property
          discriminator:
            propertyName: property_type
            mapping:
              range: '#/components/schemas/ItemPropertyConfigRange'
              number: '#/components/schemas/ItemPropertyConfigNumber'
              string: '#/components/schemas/ItemPropertyConfigString'
        id:
          type: string
          title: Id
          description: The unique identifier of the property
      type: object
      required:
      - name
      - config
      - id
      title: ItemPropertyRead
    DailyRewardCreate:
      properties:
        enabled:
          type: boolean
          title: Enabled
        key:
          type: string
          title: Key
        name:
          type: string
          maxLength: 255
          title: Name
        description:
          type: string
          maxLength: 100000
          title: Description
        image_url:
          anyOf:
          - type: string
            maxLength: 65536
            minLength: 1
            format: uri
          - type: string
            enum:
            - ''
          title: Image Url
        mode:
          $ref: '#/components/schemas/DailyRewardMode'
        rewards:
          $ref: '#/components/schemas/RewardsSettings'
        schedule:
          $ref: '#/components/schemas/Schedule'
        requirements_expression:
          $ref: '#/components/schemas/Expression'
        start_at:
          type: integer
          title: Start At
        end_at:
          type: integer
          title: End At
        position:
          type: integer
          title: Position
        comment:
          type: string
          title: Comment
        type:
          default: basic
          $ref: '#/components/schemas/DailyRewardType'
      type: object
      required:
      - enabled
      - name
      - description
      - mode
      - rewards
      title: DailyRewardCreate
    TokenType:
      type: string
      enum:
      - attribute
      - custom_attribute
      - event_attribute
      - custom_event_attribute
      - operator
      - number
      - date
      - string
      - boolean
      - list
      - variable
      - virtual_currency
      title: TokenType
    DailyRewardType:
      type: string
      enum:
      - basic
      - seasonal
      - schedule
      title: DailyRewardType
      description: An enumeration.
    LootboxViewType:
      type: string
      enum:
      - default
      - roulette
      title: LootboxViewType
      description: An enumeration.
    VCPriceSource:
      type: string
      enum:
      - local_price
      - base_price
      title: VCPriceSource
      description: An enumeration.
    ItemPropertyRelationData:
      properties:
        value:
          anyOf:
          - type: number
          - type: integer
          - type: string
          title: Value
      type: object
      title: ItemPropertyRelationData
    RewardsSettings:
      properties:
        daily_rewards:
          items:
            $ref: '#/components/schemas/DayReward'
          type: array
          title: Daily Rewards
        extra_reward_items:
          items:
            $ref: '#/components/schemas/NestedItem'
          type: array
          title: Extra Reward Items
        claim_mode:
          default: inline
          $ref: '#/components/schemas/DailyRewardClaimMode'
      type: object
      required:
      - daily_rewards
      title: RewardsSettings
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
