openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Players' Marketing Consents API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Players' Marketing Consents
paths:
  /v1/players/{player_id}/marketing_consent/email/grant:
    post:
      tags:
      - Players' Marketing Consents
      summary: Grant Email Marketing Consent
      description: Grant email marketing consent for a player.
      operationId: grant_email_marketing_consent
      security:
      - HTTPBearer: []
      parameters:
      - name: player_id
        in: path
        required: true
        schema:
          title: Player Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Request
              $ref: '#/components/schemas/EmailMarketingConsentGrant'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/players/{player_id}/marketing_consent/email/revoke:
    post:
      tags:
      - Players' Marketing Consents
      summary: Revoke Email Marketing Consent
      description: Revoke email marketing consent for a player.
      operationId: revoke_email_marketing_consent
      security:
      - HTTPBearer: []
      parameters:
      - name: player_id
        in: path
        required: true
        schema:
          title: Player Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    EmailMarketingConsentGrant:
      properties:
        address:
          type: string
          format: email
          title: Address
          description: The player's email address.
      type: object
      required:
      - address
      title: EmailMarketingConsentGrant
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
