openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Price Points API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Price Points
paths:
  /v1/price_points:
    get:
      tags:
      - Price Points
      summary: Get Price Points
      description: 'Returns price points from price templates for the specified country.


        Price templates can be configured in Dashboard -> SKU Management ->

        Price Templates.


        The `locale` parameter is optional and if not provided, it will be resolved

        from the country with the best match available for that country.'
      operationId: get_price_points
      security:
      - HTTPBearer: []
      parameters:
      - name: country
        in: query
        required: true
        schema:
          title: Country
          description: The two-letter country code (ISO 3166-1 alpha-2) for price localization.
          pattern: ^[A-Z]{2}$
          type: string
        description: The two-letter country code (ISO 3166-1 alpha-2) for price localization.
      - name: locale
        in: query
        required: false
        schema:
          description: Locale for price formatting (e.g., en, pt-BR, zh-Hant).
          $ref: '#/components/schemas/Locale'
        description: Locale for price formatting (e.g., en, pt-BR, zh-Hant).
      - name: platform
        in: query
        required: false
        schema:
          description: Platform for platform-specific pricing (e.g., ios, android, any).
          default: any
          $ref: '#/components/schemas/Platform'
        description: Platform for platform-specific pricing (e.g., ios, android, any).
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricePointsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    LocalPriceAmount:
      properties:
        amount:
          type: integer
          title: Amount
          description: Price amount in minor currency units
        amount_decimal:
          type: number
          title: Amount Decimal
          description: Price amount in major currency units
        display:
          type: string
          title: Display
          description: Formatted price display string
      type: object
      required:
      - amount
      - amount_decimal
      - display
      title: LocalPriceAmount
    PricePointsContext:
      properties:
        country:
          type: string
          pattern: ^[A-Z]{2}$
          title: Country
          description: The country code for price localization
        base_currency:
          $ref: '#/components/schemas/Currency'
          description: The base currency used for pricing
        local_currency:
          $ref: '#/components/schemas/Currency'
          description: The local currency for the player's region
      type: object
      required:
      - country
      - base_currency
      - local_currency
      title: PricePointsContext
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PriceAmount:
      properties:
        amount:
          type: integer
          title: Amount
          description: Price amount in minor currency units
        amount_decimal:
          type: number
          title: Amount Decimal
          description: Price amount in major currency units
      type: object
      required:
      - amount
      - amount_decimal
      title: PriceAmount
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Currency:
      type: string
      enum:
      - USD
      - EUR
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHF
      - CLP
      - CNY
      - COP
      - CRC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - UYU
      - UZS
      - VED
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XCD
      - XCG
      - XOF
      - XPF
      - YER
      - ZAR
      - ZMW
      - ZWG
      - ZWL
      - RP
      - VC
      title: Currency
    Locale:
      type: string
      enum:
      - cs
      - de
      - en
      - es
      - fr
      - fr-CA
      - hi
      - id
      - it
      - ja
      - ko
      - ms
      - nl
      - 'no'
      - pl
      - pt
      - pt-BR
      - ru
      - sv
      - th
      - tr
      - uk
      - vi
      - zh
      - zh-Hant
      title: Locale
      description: Language codes according to ISO 639-1.
    PricePointsResponse:
      properties:
        context:
          $ref: '#/components/schemas/PricePointsContext'
          description: The context information for the price points
        price_points:
          items:
            $ref: '#/components/schemas/PricePoint'
          type: array
          title: Price Points
          description: The list of available price points
      type: object
      required:
      - context
      - price_points
      title: PricePointsResponse
    PricePoint:
      properties:
        id:
          type: string
          title: Id
          description: ID of the price template associated with this price point
        base_price:
          $ref: '#/components/schemas/PriceAmount'
          description: Base price
        local_price:
          $ref: '#/components/schemas/LocalPriceAmount'
          description: Localized price
      type: object
      required:
      - id
      - base_price
      - local_price
      title: PricePoint
    Platform:
      type: string
      enum:
      - any
      - ios
      - android
      - other
      title: Platform
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
