openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Webhooks API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Webhooks
paths:
  /v1/webhooks:
    get:
      tags:
      - Webhooks
      summary: Get Webhooks
      description: Returns a list of webhooks.
      operationId: get_webhooks
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: The limit on the number of objects to be returned
          default: 300
          type: integer
        description: The limit on the number of objects to be returned
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The number of objects to skip
          type: integer
        description: The number of objects to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Webhooks
                type: array
                items:
                  $ref: '#/components/schemas/WebhookRedacted'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Webhooks
      summary: Create Webhook
      description: Creates a new webhook.
      operationId: create_webhook
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Create
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRevealed'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/webhooks/{webhook_id}:
    get:
      tags:
      - Webhooks
      summary: Get Webhook
      description: Returns a single webhook.
      operationId: get_webhook
      security:
      - HTTPBearer: []
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          title: Webhook Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRedacted'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Webhooks
      summary: Update Webhook
      description: Updates a webhook.
      operationId: update_webhook
      security:
      - HTTPBearer: []
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          title: Webhook Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Update
              $ref: '#/components/schemas/WebhookUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRedacted'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Webhooks
      summary: Delete Webhook
      description: Deletes a webhook.
      operationId: delete_webhook
      security:
      - HTTPBearer: []
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          title: Webhook Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/webhooks/{webhook_id}/expire_secret:
    post:
      tags:
      - Webhooks
      summary: Expire Webhook Secret
      description: Expires the secret of a webhook.
      operationId: expire_webhook_secret
      security:
      - HTTPBearer: []
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          title: Webhook Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRevealed'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/webhooks/{webhook_id}/reveal:
    post:
      tags:
      - Webhooks
      summary: Reveal Webhook Secret
      description: Reveals the secret of a webhook.
      operationId: reveal_webhook_secret
      security:
      - HTTPBearer: []
      parameters:
      - name: webhook_id
        in: path
        required: true
        schema:
          title: Webhook Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRevealed'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    WebhookMethod:
      type: string
      enum:
      - GET
      - POST
      title: WebhookMethod
      description: An enumeration.
    WebhookEventType:
      type: string
      enum:
      - player.verify
      - item.add
      - item.remove
      - analytics.checkout.payment_method.select
      - analytics.checkout.submit_payment_form
      - analytics.checkout.back_store
      - analytics.checkout.back_game
      - analytics.checkout.pageview
      - analytics.checkout.pageshow
      - analytics.checkout.pagehide
      - analytics.checkout.pageexit
      - analytics.checkout.payment_method.close
      - analytics.hub.sign_up
      - analytics.hub.login
      - analytics.hub.buy_click
      - analytics.hub.free_item_claimed
      - batch.ready
      - order.*
      - order.created
      - order.paid
      - order.canceled
      - order.refunded
      - payment.*
      - payment.succeeded
      - payment.abandoned
      - payment.canceled
      - payment.chargeback
      - payment.declined
      - payment.dispute
      - payment.expired
      - payment.pending
      - payment.refunded
      - payment.rejected
      - payment.voided
      - fraud.reported
      - subscription.activated
      - subscription.updated
      - subscription.renewed
      - subscription.deactivated
      - coupon.redeemed
      - ingame.push
      - ingame.popup
      - campaign.custom
      - player.is_idle
      - player.lookup
      - player.marketing_consent.updated
      - store.get
      title: WebhookEventType
      description: An enumeration.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    WebhookRedacted:
      properties:
        events:
          items:
            $ref: '#/components/schemas/WebhookEventType'
          type: array
          description: The list of events that trigger the webhook.
        url:
          type: string
          title: Url
          description: The URL where the webhook will be sent.
        description:
          type: string
          title: Description
          description: The description of a webhook.
          nullable: true
        method:
          description: The HTTP method used to send the webhook.
          $ref: '#/components/schemas/WebhookMethod'
        enabled:
          type: boolean
          title: Enabled
          description: The enabled status of the webhook.
          default: true
        enabled_logs:
          type: boolean
          title: Enabled Logs
          description: The enabled logs of the webhook.
          default: true
        player_context_enabled:
          type: boolean
          title: Player Context Enabled
          description: Enable send player attributes in context
          nullable: true
        batch_mode:
          type: boolean
          title: Batch Mode
          description: Enable batch delivery [mode](https://docs.aghanim.com/webhooks/batching).
          nullable: true
        secret_redacted:
          type: string
          title: Secret Redacted
        id:
          type: string
          title: Id
          description: The unique identifier of the webhook.
        game_id:
          type: string
          title: Game Id
          description: The unique identifier of the game.
      type: object
      required:
      - events
      - url
      - method
      - secret_redacted
      - id
      - game_id
      title: WebhookRedacted
    WebhookUpdate:
      properties:
        events:
          items:
            $ref: '#/components/schemas/WebhookEventType'
          type: array
          description: The list of events that trigger the webhook.
        url:
          type: string
          title: Url
          description: The URL where the webhook will be sent.
        description:
          type: string
          title: Description
          description: The description of a webhook.
        method:
          description: The HTTP method used to send the webhook.
          $ref: '#/components/schemas/WebhookMethod'
        enabled:
          type: boolean
          title: Enabled
          description: The enabled status of the webhook.
        enabled_logs:
          type: boolean
          title: Enabled Logs
          description: The enabled logs of the webhook.
        player_context_enabled:
          type: boolean
          title: Player Context Enabled
          description: Enable player context.
          nullable: true
        batch_mode:
          type: boolean
          title: Batch Mode
          description: Enable batch delivery mode.
      type: object
      title: WebhookUpdate
    WebhookCreate:
      properties:
        events:
          items:
            $ref: '#/components/schemas/WebhookEventType'
          type: array
          description: The list of events that trigger the webhook.
        url:
          type: string
          title: Url
          description: The URL where the webhook will be sent.
        description:
          type: string
          title: Description
          description: The description of a webhook.
          nullable: true
        method:
          description: The HTTP method used to send the webhook.
          $ref: '#/components/schemas/WebhookMethod'
        enabled:
          type: boolean
          title: Enabled
          description: The enabled status of the webhook.
          default: true
        enabled_logs:
          type: boolean
          title: Enabled Logs
          description: The enabled logs of the webhook.
          default: true
        player_context_enabled:
          type: boolean
          title: Player Context Enabled
          description: Enable send player attributes in context
          nullable: true
        batch_mode:
          type: boolean
          title: Batch Mode
          description: Enable batch delivery [mode](https://docs.aghanim.com/webhooks/batching).
          nullable: true
      type: object
      required:
      - events
      - url
      - method
      title: WebhookCreate
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    WebhookRevealed:
      properties:
        events:
          items:
            $ref: '#/components/schemas/WebhookEventType'
          type: array
          description: The list of events that trigger the webhook.
        url:
          type: string
          title: Url
          description: The URL where the webhook will be sent.
        description:
          type: string
          title: Description
          description: The description of a webhook.
          nullable: true
        method:
          description: The HTTP method used to send the webhook.
          $ref: '#/components/schemas/WebhookMethod'
        enabled:
          type: boolean
          title: Enabled
          description: The enabled status of the webhook.
          default: true
        enabled_logs:
          type: boolean
          title: Enabled Logs
          description: The enabled logs of the webhook.
          default: true
        player_context_enabled:
          type: boolean
          title: Player Context Enabled
          description: Enable send player attributes in context
          nullable: true
        batch_mode:
          type: boolean
          title: Batch Mode
          description: Enable batch delivery [mode](https://docs.aghanim.com/webhooks/batching).
          nullable: true
        id:
          type: string
          title: Id
          description: The unique identifier of the webhook.
        game_id:
          type: string
          title: Game Id
          description: The unique identifier of the game.
        secret:
          type: string
          title: Secret
          description: The secret used to sign the webhook.
      type: object
      required:
      - events
      - url
      - method
      - id
      - game_id
      - secret
      title: WebhookRevealed
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
