openapi: 3.2.0
info:
  title: Aghanim Server-to-Server GDPR Requests API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: GDPR Requests
paths:
  /v1/gdpr_requests:
    post:
      tags:
      - GDPR Requests
      summary: GDPR Data Removal
      description: Create a request for GDPR data removal.
      operationId: gdpr_data_removal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GDPRDataRemovalRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
components:
  schemas:
    GDPRDataRemovalRequest:
      properties:
        email:
          title: Email
          description: The email of the user to remove data for
          type: string
          format: email
        user_id:
          title: User Id
          description: The user ID in the Aghanim system to remove data for
          type: string
          maxLength: 32
        player_id:
          title: Player Id
          description: The player ID to remove data for
          type: string
      type: object
      title: GDPRDataRemovalRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
