openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Leaderboards API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Leaderboards
paths:
  /v1/leaderboards:
    get:
      tags:
      - Leaderboards
      summary: Get Leaderboards
      description: Returns a list of leaderboards.
      operationId: get_leaderboards
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The number of objects to skip
          type: integer
        description: The number of objects to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeaderboardRead'
                title: Response Get Leaderboards
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Leaderboards
      summary: Create Leaderboard
      description: Creates a new leaderboard.
      operationId: create_leaderboard
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/leaderboards/{leaderboard_id}:
    get:
      tags:
      - Leaderboards
      summary: Get Leaderboard
      description: Returns a single leaderboard.
      operationId: get_leaderboard
      security:
      - HTTPBearer: []
      parameters:
      - name: leaderboard_id
        in: path
        required: true
        schema:
          title: Leaderboard Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Leaderboards
      summary: Update Leaderboard
      description: Updates a leaderboard.
      operationId: update_leaderboard
      security:
      - HTTPBearer: []
      parameters:
      - name: leaderboard_id
        in: path
        required: true
        schema:
          title: Leaderboard Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaderboardRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Leaderboards
      summary: Delete Leaderboard
      description: Deletes a leaderboard.
      operationId: delete_leaderboard
      security:
      - HTTPBearer: []
      parameters:
      - name: leaderboard_id
        in: path
        required: true
        schema:
          title: Leaderboard Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/leaderboards/{leaderboard_id}/members:
    get:
      tags:
      - Leaderboards
      summary: Get Leaderboard Members
      description: Returns a list of leaderboard members.
      operationId: get_leaderboard_members
      security:
      - HTTPBearer: []
      parameters:
      - name: leaderboard_id
        in: path
        required: true
        schema:
          title: Leaderboard Id
          type: string
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The number of objects to skip
          type: integer
        description: The number of objects to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LeaderboardMemberRead'
                title: Response Get Leaderboard Members
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/leaderboards/{leaderboard_id}/members/{member_id}:
    put:
      tags:
      - Leaderboards
      summary: Update Leaderboard Member
      operationId: update_leaderboard_member
      security:
      - HTTPBearer: []
      parameters:
      - name: member_id
        in: path
        required: true
        schema:
          title: Member Id
          type: string
      - name: leaderboard_id
        in: path
        required: true
        schema:
          title: Leaderboard Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardMemberUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Update Leaderboard Member
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/leaderboards/{leaderboard_id}/submit_score:
    post:
      tags:
      - Leaderboards
      summary: Submit Score
      operationId: submit_score
      security:
      - HTTPBearer: []
      parameters:
      - name: leaderboard_id
        in: path
        required: true
        schema:
          title: Leaderboard Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaderboardMemberUpdate'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    LeaderboardUpdate:
      properties:
        start_at:
          title: Start At
          type: integer
        end_at:
          title: End At
          type: integer
        name:
          title: Name
          description: The name of the leaderboard.
          type: string
          maxLength: 255
        description:
          title: Description
          description: The description of the leaderboard.
          type: string
          maxLength: 512
        visibility:
          $ref: '#/components/schemas/LeaderboardVisibility'
      type: object
      title: LeaderboardUpdate
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    LeaderboardRead:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: The name of the leaderboard.
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the leaderboard.
        visibility:
          $ref: '#/components/schemas/LeaderboardVisibility'
          description: The visibility of the leaderboard. It can be either 'general' or 'personal'. General leaderboards are visible to all users, while personal leaderboards are only visible to leaderboard participants.
          default: general
        start_at:
          title: Start At
          description: The start date of the leaderboard in Unix timestamp.If set, the leaderboard will only be visible in game-hub after this date.
          type: integer
        end_at:
          title: End At
          description: The end date of the leaderboard in Unix timestamp.If set, the leaderboard will only be visible in game-hub before this date.
          type: integer
        id:
          type: string
          maxLength: 32
          title: Id
          description: The unique identifier of the leaderboard.
      type: object
      required:
      - name
      - description
      - id
      title: LeaderboardRead
    LeaderboardMemberRead:
      properties:
        member_id:
          type: string
          title: Member Id
          description: The unique identifier of the member.
        member_data:
          type: string
          title: Member Data
          description: The data of the member. This might be a members's name.
        member_subdata:
          title: Member Subdata
          description: The additional subdata related to the member, such as a clan, team or guild they belong to.
          type: string
        image_url:
          title: Image Url
          description: The image URL of the member.
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
        score:
          type: integer
          title: Score
          description: The score of the member.
        id:
          type: string
          maxLength: 32
          title: Id
          description: The unique identifier of the leaderboard member.
        created_at:
          type: integer
          title: Created At
          description: The unix timestamp of when the leaderboard member was created.
        modified_at:
          title: Modified At
          description: The unix timestamp of when the leaderboard member was last modified.
          type: integer
      type: object
      required:
      - member_id
      - member_data
      - score
      - id
      - created_at
      title: LeaderboardMemberRead
    LeaderboardMemberUpdate:
      properties:
        member_id:
          title: Member Id
          description: The unique identifier of the member.
          type: string
        member_data:
          title: Member Data
          description: The data of the member.
          type: string
        image_url:
          title: Image Url
          description: The image URL of the member.
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
        score:
          title: Score
          description: The score of the member.
          type: integer
      type: object
      title: LeaderboardMemberUpdate
    LeaderboardVisibility:
      type: string
      enum:
      - general
      - personal
      title: LeaderboardVisibility
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    LeaderboardCreate:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: The name of the leaderboard.
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the leaderboard.
        visibility:
          $ref: '#/components/schemas/LeaderboardVisibility'
          description: The visibility of the leaderboard. It can be either 'general' or 'personal'. General leaderboards are visible to all users, while personal leaderboards are only visible to leaderboard participants.
          default: general
        start_at:
          title: Start At
          description: The start date of the leaderboard in Unix timestamp.If set, the leaderboard will only be visible in game-hub after this date.
          type: integer
        end_at:
          title: End At
          description: The end date of the leaderboard in Unix timestamp.If set, the leaderboard will only be visible in game-hub before this date.
          type: integer
      type: object
      required:
      - name
      - description
      title: LeaderboardCreate
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
