openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Translation Glossaries API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Translation Glossaries
paths:
  /v1/translation_glossaries:
    get:
      tags:
      - Translation Glossaries
      summary: Get Translation Glossaries
      description: Returns a list of translation glossaries.
      operationId: get_translation_glossaries
      security:
      - HTTPBearer: []
      parameters:
      - name: locale_id
        in: query
        required: false
        schema:
          title: Locale Id
          description: Filter by locale
          type: string
        description: Filter by locale
      - name: q
        in: query
        required: false
        schema:
          title: Q
          description: Filter by search query
          type: string
        description: Filter by search query
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: starting_after
        in: query
        required: false
        schema:
          title: Starting After
          description: The cursor for pagination
          type: string
        description: The cursor for pagination
      - name: ending_before
        in: query
        required: false
        schema:
          title: Ending Before
          description: The cursor for pagination
          type: string
        description: The cursor for pagination
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfinitePaginatedResponse_TranslationGlossaryRead_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Translation Glossaries
      summary: Create Translation Glossary
      description: Creates a new translation glossary.
      operationId: create_translation_glossary
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationGlossaryCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationGlossaryRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/translation_glossaries/{translation_glossary_id}:
    get:
      tags:
      - Translation Glossaries
      summary: Get Translation Glossary
      description: Returns a single translation glossary.
      operationId: get_translation_glossary
      security:
      - HTTPBearer: []
      parameters:
      - name: translation_glossary_id
        in: path
        required: true
        schema:
          title: Translation Glossary Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationGlossaryRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Translation Glossaries
      summary: Update Translation Glossary
      description: Updates a translation glossary.
      operationId: update_translation_glossary
      security:
      - HTTPBearer: []
      parameters:
      - name: translation_glossary_id
        in: path
        required: true
        schema:
          title: Translation Glossary Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationGlossaryUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationGlossaryRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Translation Glossaries
      summary: Delete Translation Glossary
      description: Deletes a translation glossary.
      operationId: delete_translation_glossary
      security:
      - HTTPBearer: []
      parameters:
      - name: translation_glossary_id
        in: path
        required: true
        schema:
          title: Translation Glossary Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    InfinitePaginatedResponse_TranslationGlossaryRead_:
      properties:
        data:
          items:
            $ref: '#/components/schemas/TranslationGlossaryRead'
          type: array
          title: Data
        has_more:
          type: boolean
          title: Has More
        next_cursor:
          title: Next Cursor
          type: string
      type: object
      required:
      - data
      - has_more
      title: InfinitePaginatedResponse[TranslationGlossaryRead]
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    TranslationGlossaryRead:
      properties:
        locale_id:
          type: string
          maxLength: 32
          title: Locale Id
          description: The unique identifier of the locale
        term:
          type: string
          maxLength: 255
          title: Term
          description: The glossary term
        translation:
          type: string
          maxLength: 255
          title: Translation
          description: The translation of the glossary term
        id:
          type: string
          maxLength: 32
          title: Id
          description: The unique identifier of the glossary
      type: object
      required:
      - locale_id
      - term
      - translation
      - id
      title: TranslationGlossaryRead
    TranslationGlossaryUpdate:
      properties:
        term:
          title: Term
          description: The glossary term
          type: string
          maxLength: 255
        translation:
          title: Translation
          description: The translation of the glossary term
          type: string
          maxLength: 255
      type: object
      title: TranslationGlossaryUpdate
    TranslationGlossaryCreate:
      properties:
        locale_id:
          type: string
          maxLength: 32
          title: Locale Id
          description: The unique identifier of the locale
        term:
          type: string
          maxLength: 255
          title: Term
          description: The glossary term
        translation:
          type: string
          maxLength: 255
          title: Translation
          description: The translation of the glossary term
      type: object
      required:
      - locale_id
      - term
      - translation
      title: TranslationGlossaryCreate
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
