openapi: 3.2.0
info:
  title: Aghanim Server-to-Server Videos API
  description: The Aghanim Server-to-Server API is designed for **backend server integrations only**.
  contact:
    name: Aghanim
    email: integration@aghanim.com
  version: 2026.07.14
servers:
- url: https://api.aghanim.com/s2s
  description: Production
tags:
- name: Videos
paths:
  /v1/videos:
    get:
      tags:
      - Videos
      summary: Get Videos
      description: Returns a list of videos.
      operationId: get_videos
      security:
      - HTTPBearer: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          description: A limit on the number of objects to be returned
          default: 10
          type: integer
        description: A limit on the number of objects to be returned
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          description: The number of objects to skip
          type: integer
        description: The number of objects to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Videos
                type: array
                items:
                  $ref: '#/components/schemas/VideoRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Videos
      summary: Create Video
      description: Creates a new video.
      operationId: create_video
      security:
      - HTTPBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Create
              $ref: '#/components/schemas/VideoCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/videos/{video_id}:
    get:
      tags:
      - Videos
      summary: Get Video
      description: Returns a single video.
      operationId: get_video
      security:
      - HTTPBearer: []
      parameters:
      - name: video_id
        in: path
        required: true
        schema:
          title: Video Id
          type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Videos
      summary: Update Video
      description: Updates a video.
      operationId: update_video
      security:
      - HTTPBearer: []
      parameters:
      - name: video_id
        in: path
        required: true
        schema:
          title: Video Id
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Update
              $ref: '#/components/schemas/VideoUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Videos
      summary: Delete Video
      description: Deletes a video.
      operationId: delete_video
      security:
      - HTTPBearer: []
      parameters:
      - name: video_id
        in: path
        required: true
        schema:
          title: Video Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    VideoRead:
      properties:
        title:
          type: string
          maxLength: 255
          title: Title
          description: The title of the video
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the video
        order_id:
          type: integer
          title: Order Id
          description: The order ID of the video
          default: 0
        thumbnail_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Thumbnail Url
          description: The URL of the thumbnail for the video
        platform:
          description: The platform of the video
          $ref: '#/components/schemas/VideoPlatform'
        data:
          anyOf:
          - $ref: '#/components/schemas/YoutubeData'
          - $ref: '#/components/schemas/TwitchData'
          title: Data
          description: The data of the video
        id:
          type: string
          title: Id
          description: The unique identifier of the video
      type: object
      required:
      - title
      - description
      - platform
      - data
      - id
      title: VideoRead
    VideoUpdate:
      properties:
        title:
          type: string
          maxLength: 255
          title: Title
          description: The title of the video
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the video
        order_id:
          type: integer
          title: Order Id
          description: The order ID of the video
        thumbnail_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Thumbnail Url
          description: The URL of the thumbnail for the video
      type: object
      title: VideoUpdate
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    VideoPlatform:
      type: string
      enum:
      - youtube
      - twitch
      title: VideoPlatform
      description: An enumeration.
    YoutubeData:
      properties:
        video_id:
          type: string
          title: Video Id
          description: The video ID of the YouTube video
      type: object
      required:
      - video_id
      title: YoutubeData
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    VideoCreate:
      properties:
        title:
          type: string
          maxLength: 255
          title: Title
          description: The title of the video
        description:
          type: string
          maxLength: 512
          title: Description
          description: The description of the video
        order_id:
          type: integer
          title: Order Id
          description: The order ID of the video
          default: 0
        thumbnail_url:
          type: string
          maxLength: 65536
          minLength: 1
          format: uri
          title: Thumbnail Url
          description: The URL of the thumbnail for the video
        platform:
          description: The platform of the video
          $ref: '#/components/schemas/VideoPlatform'
        data:
          anyOf:
          - $ref: '#/components/schemas/YoutubeData'
          - $ref: '#/components/schemas/TwitchData'
          title: Data
          description: The data of the video
      type: object
      required:
      - title
      - description
      - platform
      - data
      title: VideoCreate
    TwitchData:
      properties:
        channel:
          type: string
          title: Channel
          description: The channel of the Twitch video
      type: object
      required:
      - channel
      title: TwitchData
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: Refer to the [Authentication](https://docs.aghanim.com/api-reference/) section for instructions on obtaining an API key and use it as the `Bearer` token.
